<div class="farms">
  <div class="search d-flex">

    <span>Recherche : </span>

    <%= link_to "#", class: "d-flex navbar-brand btn" do %>
      <%= image_tag 'icons/Map_Marker.png', class: "map-marker" %>
    <% end %>

    <%= link_to "#", class: "d-flex navbar-brand btn" do %>
      <%= image_tag 'icons/Arrow.png', class: "arrow" %>
      <p>Catégorie</p>
    <% end %>

  </div>

  <div class="cards col col-lg-6">
    <% @farms.each do |farm| %>

      <div class="d-flex farm">

        <div>
          <%= cl_image_tag farm.photos.first.key, height: 209, width: 207, crop: :fill, class: "photo-farm" %>
        </div>

        <div>
          <div class = "user d-flex">
            <%= cl_image_tag farm.user.photo.key, height: 24, width: 24, crop: :fill %>
            <p><%= farm.user.name  %></p>
          </div>

          <div class="information">
            <h6> <%= farm.name  %></h6>

            <div class="d-flex">
              <p>Labels :  <%if farm.labels.include?("bio")%><div class='label'><%= image_tag 'labels/bio-label', class: "label" %></div><%end%></p>
            </div>

            <div class="d-flex">
              <p>Nombre de ventes : </p>
              <p><%= farm.sells  %></p>
            </div>
            <% farm.farm_categories.each do |farm_category| %>
              <%= farm_category.category.name  %>
            <% end %>
            <div class="d-flex">
              <p>Adresse : </p>
              <p><%= farm.address  %></p>
            </div>

            <div class="d-flex">
              <p>Ouvertures</p>
              <p><%= farm.opening_time %></p>
            </div>
          </div>

        </div>
      </div>
    <% end  %>

  </div>
</div>
