<div class="farms">

  <div class="d-flex cards_maps">
    <div>

      <div class="search d-flex">

        <div class="d-flex select">
          <%= form_tag farms_path, method: :get, id: "farm-search-form" do %>
            <%= hidden_field_tag 'zip', get_zip_code_number %>
            <%= select_tag :category,
              options_from_collection_for_select(@categories, :name, :name, @category&.name),
              onchange: 'this.form.submit();',
              class: "form-control custom-select category",
              prompt: "Catégorie"
            %>
            <%= select_tag :labels,
              options_for_select(Farm::LABELS, @label),
              onchange: 'this.form.submit();',
              class: "form-control custom-select label",
              prompt: "Label"
            %>
            <%= select_tag :farms,
              options_for_select(["retrait à l’exploitation", "Distribution régionale", "Expédition nationale"], @delivery),
              onchange: 'this.form.submit();',
              class: "form-control custom-select livraison",
              prompt: "Livraison"
            %>
          <% end %>
        </div>
      </div>

      <div class="cards col col-lg-6">

        <% @farms.active.each do |farm| %>

          <%= link_to farm_path(farm) do  %>
            <div class="d-flex card-farm">

              <div>
                  <%= cl_image_tag(farm.photos.first.key, height: 209, width: 207, crop: :fill, class: "photo-farm") %>
              </div>

              <div>
                <div class = "user d-flex">
                  <%= cl_image_tag farm.user.photo.key, height: 24, width: 24, crop: :fill %>
                  <p><%= farm.user.first_name  %></p>
                </div>


                <div class="informations">
                  <h6> <%= farm.name  %></h6>

                  <div class="d-flex">
                    <p><%= t('.labels') %>
                      <% farm.labels.each do |label| %>
                        <div class='label'>
                          <p> <%= label.upcase  %></p>
                        </div>
                      <%end%>
                    </p>
                  </div>

                  <div class="d-flex information">
                    <p><%= t('.categories') %> </p>
                    <% farm.categories.each do |category| %>
                      <div class='category-photo'><%= cl_image_tag category.photo.key %></div>
                    <% end %>
                  </div>

                  <div class="d-flex information">
                    <p><%= t('.number_sells') %> </p>
                    <p> 19</p>
                  </div>

                  <div class="d-flex information">
                    <p><%= t('.date') %></p>
                    <p><%= farm.created_at.strftime("%Y.%m.%d")  %></p>
                  </div>

                  <div class="d-flex information">
                    <p><%= t('.adress') %></p>
                    <p><%= farm.address  %></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

        <% end  %>

        <% @far_farms.active.each do |farm| %>

          <%= link_to farm_path(farm) do  %>
            <div class="d-flex card-farm">

              <div>
                <%= cl_image_tag(farm.photos.first.key, height: 209, width: 207, crop: :fill, class: "photo-farm") %>
              </div>

              <div>
                <div class = "user d-flex">
                  <%= cl_image_tag farm.user.photo.key, height: 24, width: 24, crop: :fill %>
                  <p><%= farm.user.first_name  %></p>
                </div>

                <div class="informations">
                  <h6> <%= farm.name  %></h6>

                  <div class="d-flex information">
                    <p><%= t('.labels') %>
                      <% if farm.labels != [""] %>
                        <% farm.labels.each do |label| %>
                          <div class='label'>
                            <%if label == "Bio-Suisse"  %><%= image_tag "labels/Bio-Suisse-label.png", class: "label" %><% end %>
                          </div>
                        <%end%>
                      <% end %>
                    </p>
                  </div>

                  <div class="fresh-products d-flex">
                    <%= image_tag "cards/flake.png", alt: "Flocon" %>
                    <p> <span> <%= farm.products.fresh.count %> <%= t('.products') %> </span><%= t('.withdrawal') %> </p>
                  </div>

                  <div class="d-flex information">
                    <p><%= t('.categories') %></p>
                    <% farm.categories.each do |category| %>
                      <div class='category-photo'><%= cl_image_tag category.photo.key %></div>
                    <% end %>
                  </div>

                  <div class="d-flex information">
                    <p><%= t('.number_sells') %></p>
                    <p> 19</p>
                  </div>

                  <div class="d-flex information">
                    <p><%= t('.date') %></p>
                    <p><%= farm.created_at.strftime("%Y.%m.%d")  %></p>
                  </div>

                  <div class="d-flex information">
                    <p><%= t('.adress') %> </p>
                    <p><%= farm.address  %></p>
                  </div>

                </div>
              </div>
            </div>
          <% end %>

        <% end  %>

      </div>
    </div>

    <div id="map"
      style="width: 50%; height: 100vh;"
      data-nearby-farms-markers="<%= @nearby_markers.to_json %>"
      data-far-farms-markers="<%= @far_markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

</div>
<div id="pageInfos" data-zip-code-defined=<%= zip_code_set? %> data-submit-form="true"></div>
