<div class="farms">
  <div class="d-flex cards_maps">
    <div class="search">
      <div class="d-flex select justify-content-between">
        <%= form_tag farms_path, method: :get, id: "farm-search-form" do %>
          <%= hidden_field_tag 'zip', get_zip_code_number %>
          <%= select_tag :category,
            options_from_collection_for_select(@categories, :name, :name, @category&.name),
            onchange: 'this.form.submit();',
            class: "form-control custom-select category",
            prompt: "Catégorie"
          %>
          <%= select_tag :labels,
            options_for_select(Farm::LABELS, @label),
            onchange: 'this.form.submit();',
            class: "form-control custom-select label-search",
            prompt: "Label"
          %>
        <% end %>
        <%= link_to t('.reset'), farms_path %>
      </div>
      <div class="cards-container">
        <% @farms.active.each do |farm| %>
          <div class="card-farm">
            <div class="card-farm-header d-flex border">
              <div class="card-farm-photo border border-dark">
                <div class="photo-farm"> <%# toggle-radius %>
                  <div class="labels">
                    <% farm.labels.each do |label| %>
                      <div class='label'>
                        <p> <%= label.upcase  %></p>
                      </div>
                    <%end%>
                  </div>
                  <%= cl_image_tag(farm.farm_profil_picture.key, class: "photo", :transformation=>[{:fetch_format=>:auto}]) if farm.farm_profil_picture %>
                </div>
              </div>
              <div class="card-farm-content border border-dark">
                <div class="d-flex align-items-center farm-address">
                  <%= cl_image_tag("marker-green", alt: "icone verte", :effect=>"colorize", :color=>"#000000", class: "address-marker") %>
                  <div><%= farm.zip_code  %> <%= farm.city  %></div>
                </div>
              </div>
            </div>
            <div class="card-farm-carousel border"> <%# toggle-carousel %>
            bottom
            </div>
          </div>
        <% end %>
      </div>
      <div class="best-farms">
        <div class="cards-index col col-lg-6 ">
          <%# #START %>
          <% @farms.active.each do |farm| %>
              <div class="card-product d-flex">
                <div class="photo-farm">
                  <div class="labels">
                    <% farm.labels.each do |label| %>
                      <div class='label'>
                        <p> <%= label.upcase  %></p>
                      </div>
                    <%end%>
                  </div>
                  <%= cl_image_tag(farm.farm_profil_picture.key, class: "photo", :transformation=>[{:fetch_format=>:auto}]) if farm.farm_profil_picture %>
                </div>
                <div class="cards-informations pl-4">
                  <div class="d-flex align-items-center address">
                    <%= cl_image_tag("marker-green", alt: "icone verte", :effect=>"colorize", :color=>"#000000", class: "marker") %>
                    <p><%= farm.zip_code  %> <%= farm.city  %></p>
                  </div>
                  <div class="name d-flex">
                    <h6> <%= farm.name  %></h6>
                  </div>
                  <div class="d-flex align-items-center justify-content-start">
                    <div class="delivery d-flex">
                      <%= image_tag "icons/delivery-truck.png", alt: "delivery-truck icon", class: "icon" %>
                      <div class="text">livraison standard · 4.90 CHF</div>
                    </div>
                    <div class="delivery-infos">
                      <div class="products-number"><%= farm.products.available.count  %>
                        <% if farm.products.available.count == 1 %>
                          <%= t('.one_product') %>
                        <% else %>
                          <%= t('.products_number') %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="description"><%= farm.description %></div>
                  <div class="best-products d-flex">
                    <div>
                      <%= image_tag "icons/eye.png", alt: "eye icon", class: "eye-icon" %>
                    </div>
                    <div class="show-hide-best-products">
                      <%= t('.show_hide_best_products') %>
                    </div>
                  </div>
                </div>
              </div>
          <% end  %>
          <%# #END %>
          
          <%# OLD %>
          <% @far_farms.active.each do |farm| %>
            <%= link_to farm_path(farm) do  %>
              <div class="card-product d-flex">
                <div class="photo-farm">
                  <div class="labels">
                    <% farm.labels.each do |label| %>
                      <div class='label'>
                        <p> <%= label.upcase  %></p>
                      </div>
                    <%end%>
                  </div>
                  <%= cl_image_tag(farm.farm_profil_picture.key, class: "photo", :transformation=>[{:fetch_format=>:auto}]) if farm.farm_profil_picture %>
                </div>
                <div class="cards-informations">
                  <div class="d-flex address-far-farm">
                    <%= image_tag "icons/marker-orange.png", class: "marker" %>
                    <p><%= farm.zip_code.upcase  %> <%= farm.city.upcase  %></p>
                  </div>
                  <div class="name d-flex">
                    <h6> <%= farm.name  %></h6>
                  </div>
                  <p class="openning"><%= t('.openning', openning: farm.opening_time) %></p>
                  <div class="d-flex">
                    <p class="products-number"><%= farm.products.available.count  %>
                      <% if farm.products.available.count == 1 %>
                        <%= t('.one_product') %>
                      <% else %>
                        <%= t('.products_number') %>
                      <% end %>
                    </p>
                    <div class="fresh-products d-flex">
                      <%= image_tag "cards/flake.png", alt: "Flocon" %>
                      <p> <span> <%= farm.products.available.fresh.count %> <%= t('.products') %> </span><%= t('.withdrawal') %> </p>
                    </div>
                  </div>
                  <div class="all-photos d-flex">
                    <% farm.categories.each do |category| %>
                      <div class='category-photo' data-toggle="tooltip" data-placement="top" title="<%= category.name  %>"><%= cl_image_tag category.photo.key, :transformation=>[{:fetch_format=>:auto}] %></div>
                    <% end %>
                  </div>
                  <div class="categories"></div>
                </div>
              </div>
            <% end %>
          <% end  %>          
          <%# END %>
        </div>
      </div>
    </div>
    <div id="map"
      data-nearby-farms-markers="<%= @nearby_markers.to_json %>"
      data-far-farms-markers="<%= @far_markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      <div class="mobile-big-question-mark">?</div>
      <div class="map-infos <% if current_user&.is_companion %> map-infos--big <%end%>">
        <div class="close-infos"><i class="fas fa-times"></i></div>
        <div class="d-flex h-100 w-100 flex-column justify-content-evenly">
          <div class="d-flex align-items-center">
            <% if current_user&.is_companion %>
              <div class="d-flex ml-2">
                <%= image_tag "icons/marker-green.png", class: "marker" %>
                <span class="shipping-name shipping-name--green"><%= t('.regional_delivery_name_companion') %></span>
              </div>
            <% else %>
              <div class="d-flex ml-2">
                <%= image_tag "icons/marker-purple.png", class: "marker" %>
                <span class="shipping-name"><%= t('.regional_delivery_name') %></span>
              </div>
              <div class="line-price">
                <span class="price"><%= FarmOrder::ShippingPrice.express_not_companion.price %></span>
                <span class="currency">CHF</span>
                <div class="question-mark">?</div>
                <div class="popup-question-mark">
                  <%= image_tag "icons/bubble.png", class: "bubble"%>
                  <p class="shipping-description"><%= t('.regional_delivery_description') %></p>
                </div>
              </div>
            <% end %>
          </div>
          <div class="d-flex align-items-center">
            <div class="d-flex ml-2">
              <%= image_tag "icons/marker-orange.png", class: "marker" %>
              <span class="shipping-name"><%= t('.national_delivery_name') %></span>
            </div>
            <div class="line-price">
              <% if current_user&.is_companion %>
                <div class="d-inline-block position-relative">
                  <span class="price price--old"><%= FarmOrder::ShippingPrice.standard_not_companion.price %></span>
                  <span class="currency currency--old">CHF</span>
                  <span class="old-price-bar"></span>
                </div>
                <span class="price price--new"><%= FarmOrder::ShippingPrice.standard_companion.price %></span>
                <span class="currency currency--new">CHF</span>
                <div class="question-mark">?</div>
                <div class="popup-question-mark">
                  <%= image_tag "icons/bubble.png", class: "bubble bubble--big"%>
                  <p class="shipping-description shipping-description--big"><%= t('.national_delivery_description') %></p>
                </div>
              <% else %>
                <span class="price"><%= FarmOrder::ShippingPrice.standard_not_companion.price %></span>
                <span class="currency">CHF</span>
                <div class="question-mark">?</div>
                <div class="popup-question-mark">
                  <%= image_tag "icons/bubble.png", class: "bubble"%>
                  <p class="shipping-description"><%= t('.national_delivery_description') %></p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="pageInfos" data-zip-code-defined=<%= zip_code_set? %> data-submit-form="true"></div>
    <%= javascript_pack_tag 'mapInfos' %>
