<div class="farms">
  <div class="search d-flex">

    <span>Recherche : </span>

    <%= link_to "#", class: "d-flex navbar-brand btn" do %>
      <%= image_tag 'icons/Map_Marker.png', class: "map-marker" %>
    <% end %>
    <div class="d-flex select">
      <%= form_tag farms_path, :method => 'get' do %>
       <%= select_tag(:query, options_for_select(["Viande", "Laitier", "Poisson", "Fruit", "Boulangerie", "Oeuf", "Céréale", "Huile", "Vin", "Divers"],  :selected =>params[:query]), onchange: 'this.form.submit();', class: "form-control custom-select" , include_blank: "Catégorie")  %>
      <% end %>
    </div>

  </div>

  <div class="cards col col-lg-6">
    <% @farms.each do |farm| %>

      <div class="d-flex farm">

        <div>
          <%= cl_image_tag farm.photos.first.key, height: 209, width: 207, crop: :fill, class: "photo-farm" %>
        </div>

        <div>
          <div class = "user d-flex">
            <%= cl_image_tag farm.user.photo.key, height: 24, width: 24, crop: :fill %>
            <p><%= farm.user.name  %></p>
          </div>

          <div class="informations">
            <h6> <%= farm.name  %></h6>

            <div class="d-flex information">
              <p>Labels :  <%if farm.labels.include?("bio")%><div class='label'><%= image_tag 'labels/bio-label', class: "label" %></div><%end%></p>
            </div>

            <div class="d-flex information">
              <p>Catégories : </p>
              <% farm.farm_categories.each do |farm_category| %>
                <%if farm_category.category.name.include?("Viande")%><div class='category-photo'><%= image_tag 'categories/viande.png' %></div><%end%>
                <%if farm_category.category.name.include?("Laitier")%><div class='category-photo'><%= image_tag 'categories/laitiers.png' %></div><%end%>
                <%if farm_category.category.name.include?("Poisson")%><div class='category-photo'><%= image_tag 'categories/poissons.png' %></div><%end%>
                <%if farm_category.category.name.include?("Fruit")%><div class='category-photo'><%= image_tag 'categories/fruits.png' %></div><%end%>
                <%if farm_category.category.name.include?("Boulangerie")%><div class='category-photo'><%= image_tag 'categories/boulangerie.png' %></div><%end%>
                <%if farm_category.category.name.include?("Céréale")%><div class='category-photo'><%= image_tag 'categories/cereales.png' %></div><%end%>
                <%if farm_category.category.name.include?("Divers")%><div class='category-photo'><%= image_tag 'categories/divers.png' %></div><%end%>
                <%if farm_category.category.name.include?("Huile")%><div class='category-photo'><%= image_tag 'categories/huile.png' %></div><%end%>
                <%if farm_category.category.name.include?("Oeuf")%><div class='category-photo'><%= image_tag 'categories/oeufs.png' %></div><%end%>
                <%if farm_category.category.name.include?("Vin")%><div class='category-photo'><%= image_tag 'categories/vins.png' %></div><%end%>
              <% end %>
            </div>

            <div class="d-flex information">
              <p>Nombre de ventes : </p>
              <p> 19</p>
            </div>

            <div class="d-flex information">
              <p>Adhérents RDF depuis : </p>
              <p><%= farm.created_at.strftime("%Y.%m.%d")  %></p>
            </div>

            <div class="d-flex information">
              <p>Adresse : </p>
              <p><%= farm.address  %></p>
            </div>

            <div class="d-flex information">
              <p>Ouvertures</p>
              <p><%= farm.opening_time %></p>
            </div>
          </div>

        </div>
      </div>
    <% end  %>

  </div>
</div>
