<div class="owl-carousel owl-theme">
  <% @farm.photos.each do |photo| %>
    <div class="item">
      <%= cl_image_tag photo.key%>
    </div>
  <% end %>
</div>

<div class="farm">
  <div class="description">
    <div class="header-description d-flex">
      <% if @farm.user.photo.key.present? %>
        <%= cl_image_tag @farm.user.photo.key, height: 48, width: 48, crop: :fill %>
      <% end %>
      <p> <%=@farm.user.first_name.capitalize  %> <%=@farm.user.last_name.capitalize  %> </p>
    </div>

    <h1> <%= @farm.name  %></h1>

    <div class="d-flex">
      <p> <%= t('.description', description: @farm.description) %> <%= link_to t('.more_description'), "#description-farm" %> </p>
    </div>

    <%= link_to "#all-products", class: "products-link navbar-brand d-flex" do %>
      <%= image_tag "categories/line.png", alt: "line" %>
      <p><%= t('.show_products') %> </p>
    <% end %>
  </div>

  <div class="informations d-flex">

    <div class="hours">
      <h6><%= t('.hours') %> </h6>
      <p><%= @farm.opening_time  %></p>
    </div>


    <div class="delivery">

        <h6><%= t('.delivery') %> </h6>
        <% if @near_farm %>
          <%= @farm.delivery_date(get_zip_code_number) %>
        <% else %>
          <p class = "date"> <%= t('.hours_delivery') %> <%= @date.strftime('%d')  %> <%= t('.and_delivery') %> <%= I18n.l((@date + 1 + @farm.delivery_delay.days), format: "%d %B", locale: :'fr') %>.</p>
        <% end %>
        <span> <%= link_to t('.more_delivery'), "#farm-delivery" %></span>


    </div>


    <div class="address">
      <h6><%= t('.address') %> </h6>
      <p><%= @farm.address  %></p>
      <p><%= @farm.zip_code  %> <%= @farm.city  %></p>
    </div>
  </div>

</div>

<div class="container">

  <div class="products" id="all-products">
    <h2><%= t('.show_products') %></h2>
    <% if @farm.regions.include?(@zip_code)%>
      <div class="d-flex all-card-product">
        <% @products_available.each do |product| %>
          <div class="card-product">
            <div class="product-data" data-image-url="<%= cl_image_path(product.photo.key) %>" data-name="<%= product.name %>" data-price="<%= product.price %>" data-currency="<%= product.price_currency %>" data-unit="<%= product.unit %>" data-ingredients="<%= product.ingredients %>" data-description="<%= product.description %>" ></div>
            <div class="photo-farm">
              <div class="labels d-flex">
                <% if product.available_for_preorder? %>
                  <div class='preorder'>
                    <p> <%= t('.preorder_date') %> <%= product.preorder_shipping_starting_at.strftime("%d.%m.%Y") %></p>
                  </div>
                <% end %>

                <% product.label.each do |label| %>
                  <div class='label'>
                    <p> <%= label.upcase  %></p>
                  </div>
                <%end%>
              </div>

              <%= link_to product_path(product) do  %>
                <%= cl_image_tag product.photo.key %>
              <% end %>

            </div>

            <div class="informations d-flex">
              <div class = "name">
                <h6><%= t('.product', name: product.name) %></h6>
                <p><%= t('.conditioning', conditioning: product.conditioning) %></p>
              </div>
              <div class="price">
                <div>
                  <div class = "unit-price d-flex">
                    <h4><%= product.price %></h4><p>CHF </p>
                  </div>

                  <div class = "kg-price">
                    <% if product.price_per_unit_cents != 0 %>
                      <p>(<%= (product.price_per_unit_cents/100.00)%> CHF/<%= product.unit %>)</p>
                    <% end %>
                  </div>
                </div>

              </div>
            </div>

            <% button_label = product.available_for_preorder? ? t('.pre_order') : t('.add') %>

            <button class="btn btn-number add-to-basket" data-path="<%= increment_basket_order_line_item_path(product)%>" data-token="<%= form_authenticity_token %>" >
              <%= button_label %>
            </button>

          </div>

        <% end %>
      </div>

    <% else %>

        <h6><%= t('.not_delivery') %></h6>
        <ul class="nav nav-tabs justify-content-between tabs-products">
          <li class=" delivery nav-item" id="delivery" > <a class="nav-link active delivery-image" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
            <div class="d-flex delivery-content">
              <div class="image-tabs-delivery"><%= image_tag "products/delivery.png", alt: "alttext" %> </div>
              <div class="image-active-delivery"><%= image_tag "products/delivery-active.png", alt: "alttext" %> </div>
              <p class="delivery-computer"> <%= t('.delivery_products') %></p>
              <p class="delivery-mobile"> <%= t('.delivery_products_mobile') %></p>
            </div></a></li>
          <li class="withdrawal nav-item" id="withdrawal"><a class="nav-link withdrawal-image" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">
            <div class="d-flex withdrawal-content">
              <div class="image-tabs-withdrawal"> <%= image_tag "products/withdrawal.png", alt: "alttext" %></div>
              <div class="image-active-withdrawal"> <%= image_tag "products/withdrawal-active.png", alt: "alttext" %></div>
              <p class="delivery-computer"> <%= t('.withdrawal_products') %></p>
              <p class="delivery-mobile"> <%= t('.withdrawal_products_mobile') %></p>
            </div></a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="d-flex all-card-product">

              <% if @products_available_not_fresh.none? %>
                <h6><%= t('.no_withdrawal_fresh') %></h6>
              <% else %>
                <% @products_available_not_fresh.each do |product| %>

                  <div class="card-product">
                    <div class="product-data" data-image-url="<%= cl_image_path(product.photo.key) %>" data-name="<%= product.name %>" data-price="<%= product.price %>" data-currency="<%= product.price_currency %>" data-unit="<%= product.unit %>" data-ingredients="<%= product.ingredients %>" data-description="<%= product.description %>" ></div>
                    <div class="photo-farm">

                     <div class="labels d-flex">

                        <% if product.available_for_preorder? %>
                          <div class='preorder'>
                            <p> <%= t('.preorder_date') %> <%= product.preorder.strftime("%d.%m.%Y") %></p>
                          </div>
                        <% end %>

                        <% product.label.each do |label| %>
                          <div class='label'>
                            <p> <%= label.upcase  %></p>
                          </div>
                        <%end%>
                      </div>

                      <%= link_to product_path(product) do  %>
                        <%= cl_image_tag product.photo.key %>
                      <% end %>

                    </div>

                    <div class="informations d-flex">

                      <div class = "name">
                        <h6><%= t('.product', name: product.name) %></h6>
                        <p><%= t('.conditioning', conditioning: product.conditioning) %></p>
                      </div>

                      <div class="price">

                        <div>
                          <div class = "unit-price d-flex">
                            <h4><%= product.price %></h4><p>CHF </p>
                          </div>

                          <div class = "kg-price">
                            <% if product.price_per_unit_cents != 0 %>
                              <p>(<%= product.price_per_unit_cents/100.00%> CHF/<%= product.unit %>)</p>
                            <% end %>
                          </div>

                        </div>

                      </div>
                    </div>
                    <% button_label = product.available_for_preorder? ? t('.pre_order') : t('.add') %>
                    <button class="btn btn-number add-to-basket" data-path="<%= increment_basket_order_line_item_path(product)%>" data-token="<%= form_authenticity_token %>" >
                      <%= button_label %>
                    </button>
                  </div>

                <% end %>
              <% end %>
            </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="d-flex all-card-product">
              <% if @products_available.none?%>
                <h6><%= t('.no_withdrawal') %></h6>
              <% else %>
                  <% @products_available_all.each do |product| %>

                    <div class="card-product">
                      <div class="product-data" data-image-url="<%= cl_image_path(product.photo.key) %>" data-name="<%= product.name %>" data-price="<%= product.price %>" data-currency="<%= product.price_currency %>" data-unit="<%= product.unit %>" data-ingredients="<%= product.ingredients %>" data-description="<%= product.description %>" ></div>

                      <div class="photo-farm">

                       <div class="labels d-flex">

                          <% if product.available_for_preorder? %>
                            <div class='preorder'>
                              <p> <%= t('.preorder_date') %> <%= product.preorder_shipping_starting_at.strftime("%d.%m.%Y") %></p>
                            </div>
                          <% end %>

                          <% product.label.each do |label| %>
                            <div class='label'>
                              <p> <%= label.upcase  %></p>
                            </div>
                          <%end%>
                        </div>

                        <%= link_to product_path(product) do  %>
                          <%= cl_image_tag product.photo.key %>
                        <% end %>
                      </div>

                      <div class="informations d-flex">

                        <div class = "name">
                          <h6><%= t('.product', name: product.name) %></h6>
                          <p><%= t('.conditioning', conditioning: product.conditioning) %></p>
                        </div>

                        <div class="price">

                          <div>
                            <div class = "unit-price d-flex">
                              <h4><%= product.price %></h4><p>CHF </p>
                            </div>

                            <div class = "kg-price">
                              <% if product.price_per_unit_cents != 0 %>
                                <p>(<%= product.price_per_unit_cents/100.00%> CHF/<%= product.unit %>)</p>
                              <% end %>
                            </div>

                          </div>

                        </div>
                      </div>
                      <% button_label = product.available_for_preorder? ? t('.pre_order') : t('.add') %>
                      <button class="btn btn-number add-to-basket" data-path="<%= increment_basket_order_line_item_path(product)%>" data-token="<%= form_authenticity_token %>" >
                        <%= button_label %>
                      </button>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>

    <div class="farm-delivery" id="farm-delivery">
      <h1><%= t('.delivery_title') %></h1>
      <h6><%= t('.delivery_options') %></h6>
      <div class="delivery-options d-flex">
        <div class="delivery_option">

          <div class="delivery-image"><%= image_tag "products/delivery.png", alt: "alttext" %></div>

          <% if @farm.regions.include?(@zip_code) %>
            <h6><%= t('.delivery_regional') %></h6>

            <div class="d-flex price justify-content-center">
              <h6>2.90</h6>
              <span>CHF</span>
            </div>

            <p><%= t('.delivery_regional_description') %></p>
          <% else %>
            <h6><%= t('.delivery_national') %></h6>

            <div class="d-flex justify-content-center price">
              <h6>9.90</h6>
              <span>CHF</span>
            </div>

            <p><%= t('.delivery_national_description') %></p>
          <% end %>

          <div class="hours"><p class = "date"><%= t('.expected_delivery') %> <%= @date.strftime('%d')  %> <%= t('.and_delivery') %> <%= I18n.l((@date + 1 + @farm.delivery_delay.days), format: "%d %B", locale: :'fr') %>.</p></div>

        </div>

        <div class="delivery_option <%= @farm.accepts_take_away ? 'yes-accept' : 'no-accept' %>  ">
          <div class="withdrawal-image"><%= image_tag "products/withdrawal.png", alt: "alttext" %></div>

          <div class="accept">
            <h6><%= t('.withdrawal') %></h6>
            <div class="price"> <h6>Gratuit</h6></div>
            <p><%= t('.withdrawal_description') %></p>
            <div class="hours"> <p><%= @farm.opening_time  %></p></div>
          </div>

          <div class="no-withdrawal"> <p><%= t('.not_accept_withdrawal') %></p></div>
        </div>
      </div>
    </div>
    <%= render 'shared/product_modal' %>
  </div>
</div>

<div id="description-farm">
  <div class="container">
    <div class="description-farm d-flex">

      <div class="long-description">
        <h2><%= @farm.description_title %></h2>
        <h6> <%= t('.long_description', long_description: @farm.long_description) %></h6>
        <%= link_to "#all-products", class: "navbar-brand d-flex" do %>
          <%= image_tag "farm/link-order-products.png", alt: "line" %>
          <p><%= t('.order_products') %> </p>
        <% end %>
      </div>

      <div class="photo">
        <%= cl_image_tag @farm.photo_portrait.key, class: "mx-auto d-block"%>
      </div>
    </div>

  </div>

</div>

<div class="farm farm-map">
  <h2><%= t('.location') %></h2>
  <div id="map_show"
    style="width: 100%; height: 544px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<div id="pageInfos" data-zip-code-defined=<%= zip_code_set? %>></div>
<%= javascript_pack_tag 'productModal' %>


