<% content_for :meta_title, "#{@farm.name} à #{@farm.city} - Vente directe sur Robin des Fermes" %>
<% content_for :meta_description, @farm.description %>
<% content_for :meta_image, url_for(@farm.farm_profil_picture) %>
<div class="owl-carousel owl-theme">
  <% @farm.photos.each do |photo| %>
    <div class="item">
      <%= cl_image_tag photo.key%>
    </div>
  <% end %>
</div>
<div class="farm">
  <div class="description">
    <div class="header-description d-flex">
      <% if @farm.user.photo.key.present? %>
        <%= cl_image_tag @farm.user.photo.key, height: 48, width: 48, crop: :fill %>
      <% end %>
      <p> <%=@farm.user.first_name.capitalize  %> <%=@farm.user.last_name.capitalize  %> </p>
    </div>
    <p class="full-address"><%= @farm.full_address %></p>
    <h1> <%= @farm.name  %></h1>
    <div class="d-flex">
      <p> <%= t('.description', description: @farm.description) %> <%= link_to t('.more_description'), "#description-farm" %> </p>
    </div>
    <%= link_to "#all-products", class: "products-link navbar-brand d-flex" do %>
      <%= image_tag "categories/line.png", alt: "line" %>
      <p><%= t('.show_products') %> </p>
    <% end %>
  </div>
  <div class="informations d-flex">
    <div class="hours">
      <h3><%= t('.hours') %> </h3>
      <p><%= @farm.opening_time  %></p>
    </div>
    <div class="delivery">
      <h3><%= t('.minimum_order_title') %></h3>
      <p><%= t('.minimum_order_description_html', price: @farm.minimum_order_price) %></p>
    </div>
    <div class="address" style="<% if current_user&.is_companion %> background: url(<%= asset_path 'logos/logo_without_text.png' %>); background-repeat: no-repeat; <% end %>">
      <h3><%= t('.delivery') %> </h3>
      <% if @farm.is_in_close_zone?(get_zip_code_number) %>
        <% if current_user&.is_companion %>
          <p class="green-text">Vous êtes compagnons, la livraison régionale est offerte.</p>
        <% end %>
        <p class="<%= "p-small" if current_user&.is_companion %>"><%= t('.delivery_date_near_farm') %>  <%= I18n.l((@farm.delivery_date(get_zip_code_number)), format: "%A %d %B", locale: :'fr') %> </p>
        <p class="<%= "p-small" if current_user&.is_companion %>"><%= t('.delay') %> <%= I18n.l((@farm.delay_date(get_zip_code_number)), format: "%d %B", locale: :'fr') %> <%= I18n.l((@farm.delay_hour(get_zip_code_number)), format: "%Hh%M", locale: :'fr') %></p>
      <% else %>
        <p class = "date"> <%= t('.hours_delivery') %> <%= @date.strftime('%d')  %> <%= t('.and_delivery') %> <%= I18n.l((@farm.delivery_date(get_zip_code_number)), format: "%d %B", locale: :'fr') %>.</p>
      <% end %>
      <span> <%= link_to t('.more_delivery'), "#farm-delivery" %></span>
    </div>
  </div>
</div>
<div class="subcategories-header">
  <%= form_tag(products_list_farm_path(@farm), method: :patch, remote: true, id: "subcategories-form") do %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :subcategory_id %>
    <h2 class="text-left"><%= t '.product_category.title' %></h2>
    <div class="subcategories-container">
      <div class="subcategories-list">
        <a href="" class="subcategory-name subcategory-name--default subcategory-name--active"><%= t '.product_category.all_products' %></a>
        <% @farm.product_subcategories.each do |subcategory| %>
          <a href="" class="subcategory-name" data-subcategory-id="<%= subcategory.id %>"><%= subcategory.name %></a>
        <% end %>
      </div>
      <div class="takeaway-only">
        <%= check_box_tag :takeaway_only, true, false, disabled: false, class: "d-none" %>
        <% if @farm.accepts_take_away %>
          <%= label_tag :takeaway_only, nil, class: "m-0" do %>
            <%= show_svg('icons/delivery-bag.svg') %>
            <span>A retirer à la ferme uniquement</span>
          <% end %>
        <% end %>
        <%= select_tag :order,
            options_for_select([ [t('.product_category.by_name'), "name"], [t('.product_category.by_price'), "price"] ]),
            class: "form-control custom-select order-dropdown",
            prompt: t('.product_category.by_default')
          %>
      </div>
    </div>
  <% end %>
</div>
<div class="container products-listing">
  <div class="products" id="all-products">
    <div class="d-flex all-card-product">
      <%= render 'shared/products_list', products: @products_available %>
    </div>
  </div>
</div>
<div class="farm-delivery" id="farm-delivery">
  <h1><%= t('.delivery_title') %></h1>
  <h6><%= t('.delivery_options') %></h6>
  <div class="delivery-options d-flex">
    <div class="delivery_option">
      <div class="delivery-image">
        <% if current_user&.is_companion %>
          <%= image_tag "products/delivery-companion.png", alt: "alttext" %>
        <% else %>
          <%= image_tag "products/delivery.png", alt: "alttext" %>
        <% end %>
      </div>
      <% if @farm.regions.include?(@zip_code) %>
        <% if current_user&.is_companion %>
          <span class="companion-delivery-oye">Oyé compagnons !</span>
          <span class="companion-delivery-option-name green-text"><%= t('.delivery_regional_companion') %></span>
        <% else %>
          <h3 ><%= t('.delivery_regional') %></h3>
          <div class="d-flex price justify-content-center">
            <h6><%= FarmOrder::ShippingPrice.express_not_companion.price %></h6>
            <span>CHF</span>
          </div>
        <% end %>
        <p><%= t('.delivery_regional_description') %></p>
      <% else %>
        <% if current_user&.is_companion %>
          <span class="companion-delivery-oye">Oyé compagnons !</span>
          <span class="companion-delivery-option-name green-text"><%= t('.delivery_national_companion', price: FarmOrder::ShippingPrice.standard_companion.price) %></span>
          <p><%= t('.delivery_national_description') %></p>
        <% else %>
          <h3><%= t('.delivery_national') %></h3>
          <div class="d-flex justify-content-center price">
            <h6><%= FarmOrder::ShippingPrice.standard_not_companion.price %></h6>
            <span>CHF</span>
          </div>
          <p><%= t('.delivery_national_description') %></p>
        <% end %>
      <% end %>
      <% if @near_farm %>
        <div class="hours">
          <% if @near_farm && @farm.delivery_date(get_zip_code_number) != nil%>
            <p><%= t('.delivery_date_near_farm') %>  <%= I18n.l((@farm.delivery_date(get_zip_code_number)), format: "%A %d %B", locale: :'fr') %> </p>
            <p><%= t('.delay') %> <%= I18n.l((@farm.delay_date(get_zip_code_number)), format: "%d %B", locale: :'fr') %> <%= @farm.delay_hour(get_zip_code_number).strftime("%Ih%M")  %></p>
          <% end %>
        </div>
      <% else %>
        <div class="hours">
          <p class = "date"><%= t('.expected_delivery') %> <%= @date.strftime('%d')  %> <%= t('.and_delivery') %> <%= I18n.l((@date + 1 + @farm.delivery_delay.days), format: "%d %B", locale: :'fr') %>.</p>
        </div>
      <% end %>
    </div>
    <div class="delivery_option <%= @farm.accepts_take_away ? 'yes-accept' : 'no-accept' %>  ">
      <div class="withdrawal-image"><%= image_tag "products/withdrawal.png", alt: "alttext" %></div>
      <div class="accept">
        <h3><%= t('.withdrawal') %></h3>
        <div class="price">
          <h6>Gratuit</h6>
        </div>
        <p><%= t('.withdrawal_description') %></p>
        <div class="hours">
          <p><%= @farm.opening_time  %></p>
        </div>
      </div>
      <div class="no-withdrawal">
        <p><%= t('.not_accept_withdrawal') %></p>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/product_modal' %>
</div>
</div>
<div id="description-farm">
  <div class="container">
    <div class="description-farm d-flex">
      <div class="long-description">
        <h2><%= @farm.description_title %></h2>
        <h6> <%= t('.long_description', long_description: @farm.long_description) %></h6>
        <%= link_to "#all-products", class: "navbar-brand d-flex" do %>
          <%= image_tag "farm/link-order-products.png", alt: "line" %>
          <p><%= t('.order_products') %> </p>
        <% end %>
      </div>
      <div class="photo">
        <%= cl_image_tag @farm.photo_portrait.key, class: "mx-auto d-block"%>
      </div>
    </div>
  </div>
</div>
<div class="farm farm-map">
  <div class="map-address">
    <h2>Nous sommes à <%= @farm.city %></h2>
    <span><%= @farm.full_address %></span>
  </div>
  <div id="map_show"
    style="width: 100%; height: 544px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
<div id="pageInfos" data-zip-code-defined=<%= zip_code_set? %>></div>
<%= javascript_pack_tag 'productModal' %>
<%= javascript_pack_tag 'productSubcategories' %>
