<div class="owl-carousel owl-theme">
  <div class="item">
    <%= cl_image_tag @highlighted_photo.key%>
  </div>
  <div class="item">
    <%= cl_image_tag @second_photo&.key, class: "second-photo"  %>
  </div>
  <div class="item">
    <%= cl_image_tag @third_photo&.key, class: "third-photo"  %>
  </div>
  <div class="item">
    <%= cl_image_tag @fourth_photo&.key, class: "fourth-photo"  %>
  </div>
  <div class="item">
    <%= cl_image_tag @conquest_photo&.key, class: "conquest-photo"  %>
  </div>
</div>

<div class="farm">
  <div class="description">
    <div class="header-description d-flex">
      <%= cl_image_tag @farm.user.photo.key, height: 48, width: 48, crop: :fill %>
      <p> <%=@farm.user.first_name.capitalize  %> <%=@farm.user.last_name.capitalize  %> </p>
      <h1> <%= @farm.name.capitalize  %></h1>
    </div>

    <h1> <%= @farm.name.capitalize  %></h1>

    <div class="d-flex">
      <p> <%= t('.description', description: @farm.description) %> <%= link_to t('.more_description'), "#" %> </p>
    </div>

    <%= link_to "#all-products", class: "products-link navbar-brand d-flex" do %>
      <%= image_tag "categories/line.png", alt: "line" %>
      <p><%= t('.show_products') %> </p>
    <% end %>
  </div>

  <div class="informations d-flex">

    <div class="hours">
      <h6><%= t('.hours') %> </h6>
      <p><%= @farm.opening_time  %></p>
    </div>


    <div class="delivery d-flex">

      <div>
        <h6><%= t('.delivery') %> </h6>
        <p class = "date"> <%= t('.hours_delivery') %> <%= @date.strftime('%d')  %> <%= t('.and_delivery') %> <%= I18n.l((@date + @farm.delivery_delay.days), format: "%d %B", locale: :'fr') %>.</p>
        <%= link_to t('.more_delivery'), "#"  %>
      </div>

    </div>


    <div class="address">
      <h6><%= t('.address') %> </h6>
      <p><%= @farm.address  %></p>
    </div>
  </div>

</div>

<div class="container">

  <div class="products" id="all-products">
    <h2><%= t('.show_products') %></h2>
    <h6><%= t('.not_delivery') %></h6>
    <ul class="nav nav-tabs justify-content-between tabs-products">
      <li class=" delivery nav-item" > <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><div class="d-flex delivery-content"><%= image_tag "products/delivery.png", alt: "alttext" %> <p> <%= t('.delivery_products') %></p></div></a></li>
      <li class="withdrawal nav-item"><a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true"><div class="d-flex withdrawal-content"><%= image_tag "products/withdrawal.png", alt: "alttext" %><p> <%= t('.withdrawal_products') %></p></div></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="d-flex all-card-product">
          <% @products_available.each do |product| %>
            <div class="card-product">
              <div class="photo-farm">

                <div class="labels d-flex">

                  <% product.label.each do |label| %>
                    <div class='label'>
                      <p> <%= label.upcase  %></p>
                    </div>
                  <%end%>
                </div>

                <%= link_to product_path(product) do  %>
                  <%= cl_image_tag product.photo.key, height: 64, width: 64, crop: :fill %>
                <% end %>

              </div>

              <div class="informations d-flex">

                <div class = "name">
                  <h6><%= t('.product', name: product.name) %></h6>
                  <p><%= t('.conditioning', conditioning: product.conditioning) %></p>
                </div>

                <div class="price">

                  <div>
                    <div class = "unit-price d-flex">
                      <h4><%= product.price_cents.to_f %></h4><p>CHF </p>
                    </div>

                    <div class = "kg-price">
                      <p>(<%= product.price_per_unit_cents.to_f%> CHF/<%= product.unit %>)</p>
                    </div>

                  </div>

                </div>
              </div>
              <% if product.preorder.present? %>
                <button class="btn btn-number add-to-basket" data-path="<%= increment_basket_order_line_item_path(product)%>" data-token="<%= form_authenticity_token %>" ><%= t('.pre_order') %></button>
              <% else %>
                <button class="btn btn-number add-to-basket" data-path="<%= increment_basket_order_line_item_path(product)%>" data-token="<%= form_authenticity_token %>" ><%= t('.add') %></button>
              <% end %>
            </div>

          <% end %>
        </div>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="d-flex all-card-product">
          <% @products_available_fresh.each.each do |product| %>

            <div class="card-product">
              <div class="photo-farm">

                <div class="labels d-flex">

                  <% product.label.each do |label| %>
                    <div class='label'>
                      <p> <%= label.upcase  %></p>
                    </div>
                  <%end%>
                </div>

                <%= link_to product_path(product) do  %>
                  <%= cl_image_tag product.photo.key, height: 64, width: 64, crop: :fill %>
                <% end %>

              </div>

              <div class="informations d-flex">

                <div class = "name">
                  <h6><%= t('.product', name: product.name) %></h6>
                  <p><%= t('.conditioning', conditioning: product.conditioning) %></p>
                </div>

                <div class="price">

                  <div>
                    <div class = "unit-price d-flex">
                      <h4><%= product.price_cents.to_f %></h4><p>CHF </p>
                    </div>

                    <div class = "kg-price">
                      <p>(<%= product.price_per_unit_cents.to_f%> CHF/<%= product.unit %>)</p>
                    </div>

                  </div>

                </div>
              </div>
              <% if product.preorder.present? %>
                <button class="btn btn-number add-to-basket" data-path="<%= increment_basket_order_line_item_path(product)%>" data-token="<%= form_authenticity_token %>" ><%= t('.pre_order') %></button>
              <% else %>
                <button class="btn btn-number add-to-basket" data-path="<%= increment_basket_order_line_item_path(product)%>" data-token="<%= form_authenticity_token %>" ><%= t('.add') %></button>
              <% end %>
            </div>

          <% end %>
        </div>
      </div>
    </div>

    <h2><%= t('.location') %></h2>
    <div id="map_show"
      style="width: 1170px; height: 544px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

</div>
