<div class = "sign">
  <div class="container d-flex">
    <div class="sign-in">
      <p class="title-connexion"><%= t('.title') %></p>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs d-flex justify-content-center align-items-center">

          <div class="d-flex name">
            <%= f.input :first_name,
                        label: t('.first_name')%>
            <%= f.input :last_name,
                        label: t('.last_name')%>
          </div>
          <%= f.input :number_phone,
                       label: t('.number_phone')%>
          <%= f.input :email,
                      label: t('.email'),
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      label: t('.password'),
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      label: t('.confirmation'),
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :address_line_1,
                      label: t('.address')%>

          <div class="d-flex name">
            <%= f.input :zip_code,
                        label: t('.zip_code')%>
            <%= f.input :city,
                        label: t('.city')%>
          </div>
          <%= f.input :wants_to_subscribe_mailing_list, label: "Inscrivez vous à la newsletter", as: :boolean, input_html: {checked: true} %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, t('.connection') %>
          <p class = "sign-in-link "><%= t('.already_account') %></p>
          <%= link_to t('.my_account'), new_session_path(resource_name), class: "new-account-btn" %>
        </div>
      <% end %>

    </div>
  </div></div>
