<% if active_step == :delivery_choices %>
  <div class="recap-card">
    <div class="px-3">
      <h2 class="recap-title"><%= t("orders.review.recap") %></h2>
      <% order.farm_orders.order("created_at desc").each_with_index do |farm_order, index| %>
        <div class="d-flex justify-content-between">
          <p class="line-style font-weight-light">
            <%= farm_order.farm.name %>
          </p>
          <div>
            <p class="price farm-order-price"><%= farm_order.price %></p>
            <p class="currency"><%= farm_order.price_currency %></p>
          </div>
        </div>
      <% end %>
      <div class="d-flex justify-content-between">
        <p class="line-style font-weight-light">
          <%= t('orders.delivery.estimated_delivery_price') %>
        </p>
        <div>
          <p id="delivery-price" class="price"><%= order.total_shipping_price %></p>
          <p class="currency"><%= order.price_currency %></p>
        </div>
      </div>
    </div>
    <div class="recap-line"></div>
    <div class="d-flex justify-content-between pt-3 px-3">
      <p class="total-style"><%= t("orders.review.total") %></p>
      <div>
        <p id="totalPrice" class="price"><%= order.total_price_with_shipping %></p>
        <p class="currency"><%= order.price_currency %></p>
      </div>
    </div>
    <%= submit_tag t("orders.review.confirm"), class: "btn btn-primary btn-lg btn-block confirm-button", disabled: !order.all_shipping_choices_made? %>
  </div>
<% elsif active_step == :cart_review %>
  <div class="recap-card">
    <div class="px-3">
      <h2 class="recap-title"><%= t("orders.review.recap") %></h2>
      <% order.farm_orders.order("created_at desc").each_with_index do |farm_order, index| %>
      <div class="mb-5">
        <div class="d-flex justify-content-between">
        <% unless farm_order.farm.minimum_order_reached?(farm_order) %>
          <div class="line-style font-weight-light recap-grey-text">
            <%= farm_order.farm.name %>
          </div>
          <div><div class="price recap-grey-text"><%= farm_order.price %></div><div class="currency recap-grey-text"><%= farm_order.price_currency %></div></div>
        </div>
        <div class="order-missing-price">Il manque <span class="font-weight-bold"><%= farm_order.farm.minimum_order_missing_price(farm_order) %> CHF</span> pour compléter la commande.</div>
        <% else %>
        <div class="line-style font-weight-light">
            <%= farm_order.farm.name %>
          </div>
          <div><div class="price"><%= farm_order.price %></div><div class="currency"><%= farm_order.price_currency %></div></div>
        </div>
      <% end %>
      </div>
      <% end %>
    </div>
    <div class="recap-line"></div>
    <div class="d-flex justify-content-between pt-3 px-3">
      <p class="total-style"><%= t("orders.review.total") %></p>
      <div><p class="price"><%= order.price %></p><p class="currency"><%= order.price_currency %></p></div>
    </div>
    <%= button_to t("orders.review.confirm"), delivery_order_path(current_order), class: "btn btn-primary btn-lg btn-block confirm-button", disabled: @order.order_line_items.empty?, method: :get %>
  </div>
<% end %>
