<div class="not-filled">
  <div class="txt">Plus que <b><%= gap %> CHF</b> pour atteindre le minimum chez <b><%= farm.name %></b></div>
  <div id="progress">
    <div id="numbers">
      <div id="start"><%= image_tag "icons/basket_progress_bar.png", alt: "basket-icon", id: "icon" %></div>
      <div id="end"><%= Money.new(farm.minimum_order_price_cents) %> CHF</div>
    </div>
    <div id="bar">
      <div id="front" style="width: <%= progress %>%;"></div>
      <div id="back"></div>
    </div>
  </div>
  <div id="button">
    <%= link_to t("basket_modal.go_to_farm"), farm_path(farm), id: "basket-modal-button-primary" %>
  </div>
</div>