
<div id="header">
  <span id="title"><%= t "basket.title" %></span>
  <a href="" id="cross"><%= image_tag "icons/cross.png", alt: "close" %></a>
</div>
<div id="products">
  <% products =  products_list %>
  <% if products.empty? %>
    <span class="empty-basket">Votre panier est vide</span>
  <% else %>
    <% products.each do |product_basket| %>
      <% product = product_basket.product %>
      <div class="product-basket">
        <%= cl_image_tag product.photo.key, class: "product-image" %>
        <div class="product-infos">
          <div class="left-column">
            <div class="product-title">
              <%= product.name %>
            </div>
            <div class="infos">
              <%= product.subtitle %>
            </div>
            <div>
              <div class="counter">
                <%= image_tag 'icons/remove_item.png', class: "icons" %>
                <div class="item-count">
                  <%= product_basket.quantity %>
                </div>
                <%= image_tag 'icons/add_item.png', class: "icons increment-button", data: {path: basket_order_line_items_path, product_id: product.id, token: form_authenticity_token} %>
              </div>
            </div>
          </div>
          <div class="right-column">
            <div class="d-flex text-right justify-content-end">
              <div class="price"><%= product.price * product_basket.quantity %></div>
              <div class="currency"><%= product.price_currency %></div>
            </div>
            <div class="infos">
              (soit 30 CHF/litre)
            </div>
            <div class="remove">
              Supprimer
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div id="footer">
  <div class="d-flex justify-content-between m-3">
    <div class="total">TOTAL</div>
    <div>
      <div class="price-total"><%= total_price(products) %></div>
      <div class="price-currency">CHF</div>
    </div>
  </div>
  <button type="button" class="btn btn-primary btn-lg btn-block">VALIDER MON PANIER</button>
  <div class="continue-button">
    <a href="">Continuer mes achats</a>
  </div>
</div>
