<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "logos/rdf_white_line.png", class: "logo-robin-des-ferme" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">

        <%= link_to "Me connecter", "#", class: "btn " %>
      </li>
      <li class="nav-item ">
      <div id="zip_code" data-signedin?="<%= user_signed_in? %>" data-login_path="<%= new_user_session_path %>" data-set_zip_code_path="<%= set_zip_code_path %>" data-token="<%= form_authenticity_token %>" class="d-flex navbar-brand btn location">
          <%= image_tag 'icons/map_marker.png' %>
          <% if (!user_signed_in? || !current_user.zip_code) %>
            <% if cookies[:zip_code] %>
              <p id="zip_code_number"><%= cookies[:zip_code] %></p>
              <% else %>
            <p id="zip_code_number">_______</p>
            <% end %>
          <% else %>
            <p id="zip_code_number"><%= current_user.zip_code %></p>
          <% end %>
      </div>
      </li>
      <li>

      </li>
      <li class="nav-item dropdown d-flex">
        <p class="price"> 00.00 CHF</p>
        <%= image_tag "icons/bag", class: "noun-bag dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

      </li>
    </ul>
  </div>
</div>

<%= javascript_pack_tag 'zipCode' %>
