<%= content_for(:after_template) do %>
  <%= javascript_pack_tag 'zipCode' %>
<% end %>
<nav id="mainNavbar">
  <div id="companion-infos-navbar">
    <a href="https://info.robindesfermes.ch/compagnon/" target="_blank">
      <% if current_user&.is_companion %>
        <%= show_svg('logos/logo_without_text.svg') %>
        <b class="mx-2">Oyé compagnon·ne ! Distribution régionale offerte</b>
        <%= show_svg('logos/logo_without_text_reversed.svg') %>
      <% else %>
        <%= image_tag 'icons/delivery-truck-navbar.png', alt: "alttext", width: 29 %>
        <b>Distribution régionale offerte</b> pour tous les compagnons <span> Robin des Fermes </span>
      <% end %>
    </a>
  </div>
  <div class="navbar d-flex justify-content-between navbar-light shadow-sm px-5 py-2">
    <button class="navbar-toggler navbar-toggler-right border-0 mobile-dropdown-position fixed-top" type="button" data-toggle="css3sidebar" data-target="#primary-sidebar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-brand logo-mobile">
      <%= link_to root_path do %>
        <%= image_tag "new-home/logo-home.png", class: 'navbar-logo' %>
      <% end %>
    </a>
  </div>
  <div class="d-flex justify-content-between add-gap" style="margin: auto;">
    <div id="zip_code_messages" data-title="<%= t('zip_code.title') %>" data-description="<%= t('zip_code.description') %>" data-login="<%= t('zip_code.login') %>" data-error="<%= t('zip_code.error') %>" %></div>
    <ul class="navbar-nav">
      <div class="zip-code-infos" data-signedin?="<%= user_signed_in? %>" data-login_path="<%= new_user_session_path %>" data-set_zip_code_path="<%= users_zip_code_path %>" data-token="<%= form_authenticity_token %>" ></div>
      <% if !current_page?(root_path) && controller_name != "orders" %>
        <li class="nav-item px-lg-2 zip-code hidden-on-mobile" >
          <p><%= t 'shared.navbar.your_zip_code' %></p>
          <a class="nav-link background zip-code-infos" href="#">
            <p class="text"><i class="fas fa-map-marker-alt marker"></i><%= render 'shared/zip_code_div' %></p>
          </a>
        </li>
      <% end %>
      <div class="link-navbar">
        <li class="nav-item">
          <%= link_to t('shared.navbar.mission'), about_path, class: "nav-link hidden-on-mobile text-dark" %>
        </li>
        <li class="nav-item">
          <%= link_to root_path do %>
            <%= image_tag "new-home/logo-home.png", class: 'navbar-logo' %>
          <% end %>
        <li class="nav-item">
          <%= link_to t('shared.navbar.our_farmers'), farms_path, class: "nav-link hidden-on-mobile text-dark" %>
        </li>
      </div>
      <div class="basket-user">
        <li class="nav-item d-flex align-items-center">
          <% if user_signed_in? %>
            <%= link_to edit_user_registration_path do %>
              <%= image_tag 'new-home/user.png', class: "profile-icon" %>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path do %>
              <%= image_tag 'new-home/user.png', class: "profile-icon" %>
            <% end %>
          <% end %>
        </li>
        <% if controller_name != "orders" %>
          <li class="nav-item basket-div d-flex align-items-center">
            <a href="#" class="p-0 position-relative">
              <%= image_tag 'new-home/basket.png', class: "basket-icon" %>
              <div class="items-number d-none">/</div>
              <span class="price-text hidden-on-mobile">
                <% if current_order_available? %>
                  <%= current_order.price %>
                <% else %>
                  0.00
                <% end %>
              </span>
              <span class="price-currency hidden-on-mobile">CHF</span>
            </a>
          </li>
        <% end %>
      </div>
    </ul>
  </div>
  <div class="css3sidebar sidebar-left" id="primary-sidebar">
    <div class="menu-wrapper">
      <div style="width: 100%; height: 100%; background-color: white;">
        <% if controller_name != "orders" %>
          <div class="py-2 zip-code" id="sidebar-zip-code" >
            <p class="nav-link pb-0 text-secondary"><%= t 'shared.navbar.your_zip_code' %></p>
            <div class="background zip-code-infos" href="#">
              <p class="text"><i class="fas fa-map-marker-alt marker"></i><%= render 'shared/zip_code_div' %></p>
            </div>
          </div>
        <% end %>
        <%= link_to t('shared.navbar.about'), about_path, class: "nav-link text-secondary" %>
        <%= link_to t('shared.navbar.our_farmers'), farms_path, class: "nav-link text-secondary" %>
      </div>
    </div>
  </div>
</div>
</nav>
<div id="basket">
  <%= render 'shared/basket' %>
</div>
