<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logos/rdf_white_line.png", class: "logo-robin-des-ferme" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Me déconnecter", destroy_user_session_path, method: :delete, class: "btn" %>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to t(".log_in_href"), new_user_session_path, class: "btn" %>
        </li>
      <% end %>

      <li class="nav-item ">
        <div data-signedin?="<%= user_signed_in? %>" data-login_path="<%= new_user_session_path %>" data-set_zip_code_path="<%= users_zip_code_path %>" data-token="<%= form_authenticity_token %>" class="zip_code d-flex navbar-brand btn location">
            <%= image_tag 'icons/map_marker.png' %>
            <%= render 'shared/zip_code_div' %>
        </div>
      </li>
      <li>

      </li>
      <li class="nav-item dropdown d-flex">
        <p class="price"> 00.00 CHF</p>
        <%= image_tag "icons/bag", class: "noun-bag dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

      </li>
    </ul>
  </div>
</div>

<%= javascript_pack_tag 'zipCode' %>
