<div id="confirmation">
  <div id="header-confirmation">
    <div class="step completed">
      <div class="step-link"></div>
      <div class="circle-number"><span>1</span></div>
      <span class="step-name"><%= t(".header.step1") %></span>
    </div>
    <div class="step active">
      <div class="step-link"></div>
      <div class="circle-number"><span>2</span></div>
      <span class="step-name"><%= t(".header.step2") %></span>
    </div>
    <div class="step">
      <div class="circle-number"><span>3</span></div>
      <span class="step-name"><%= t(".header.step3") %></span>
    </div>
  </div>
  <!--<h2 class="my-5 your-basket" style="margin-left: 8%;">Ton panier</h2>-->
  <div class="review">
    <div class="row w-100 reverse-on-mobile">
      <div class="col-lg-8 col-12 p-0">
        <div class="row">
          <h2 class="info-name">Informations de livraison</h2>
          <div class="informations-frame size-876">
            <div class="row p-3  h-100 align-items-center">
              <h4 class="col m-0"><%= current_user.full_name %></h4>
              <p class="col m-0"><%= current_user.address_line_1 %><br/>
                <%= current_user.address_line_2 %></p>
              <p class="col m-0"><%= current_user.email %><br/>
                <%= current_user.number_phone %></p>
              <p class="col m-0 text-right"><%= link_to "Modifier mes informations", root_path, class: "edit-infos" %></p>
            </div>
          </div>
        </div>
        <% @order = current_order %>
        <% @order.farm_orders.order("created_at desc").each_with_index do |farm_order, index| %>
          <div class="mx-4 mx-lg-0 mb-4 text-center text-lg-left">
            <p class="basket-number"><%= t(".basket") %> <%= index + 1 %>/<%= @order.farm_orders.count %></p>
            <h4 class="farm-name"><%= farm_order.farm.name %></h4>
            <p class="basket-number"><%= sum = farm_order.order_line_items.sum { |item| item.quantity } %> <%= sum > 1 ? t(".product").pluralize : t(".product") %></p>
          </div>
          <% farm_order.order_line_items.order("created_at desc").each do |product_basket| %>
            <div class="product-card">
              <% product = product_basket.product %>
              <div class="product-basket">
                <%= cl_image_tag product.photo.key, class: "product-image" %>
                <div class="product-infos">
                  <div class="left-column">
                    <div class="product-title">
                      <%= product.name %>
                    </div>
                    <p class="infos">
                      <%= product.subtitle %>
                    </p>
                    <div>
                      <div class="counter">
                        <% if product_basket.quantity <= 1 %>
                          <%= image_tag 'icons/remove_item.png', class: "icons decrement-button disabled-button" %>
                        <% else %>
                          <%= link_to image_tag 'icons/remove_item.png', class: "icons decrement-button", data: {path: decrement_basket_order_line_item_path(product), token: form_authenticity_token} %>
                        <% end %>
                        <p class="item-count">
                          <%= product_basket.quantity %>
                        </p>
                        <%= link_to image_tag 'icons/add_item.png', class: "icons increment-button", data: {path: increment_basket_order_line_item_path(product), token: form_authenticity_token} %>
                      </div>
                    </div>
                  </div>
                  <div class="right-column">
                    <div>
                      <div class="d-flex text-right justify-content-end">
                        <p class="price mb-0"><%= product.price * product_basket.quantity %></p>
                        <p class="currency mb-0"><%= product.price_currency %></p>
                      </div>
                      <p class="infos">
                        (<%= t "basket.price_per_unit_first_word" %> <%= product.price_per_unit %> <%= product.price_per_unit_currency %>/<%= product.unit %>)
                      </p>
                    </div>
                    <p class="m-0">
                      <%= link_to "Supprimer", "/", class: "remove-item-button", data: {path: basket_order_line_item_path(product_basket), token: form_authenticity_token} %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <div class="farm-spacer"></div>
        <% end %>
      </div>
      <div class="col-lg-4 col-12 align-items-end p-0 position-relative">
        <div class="recap-card">
          <div class="px-3">
            <h2 class="recap-title"><%= t(".recap") %></h2>
            <% @order.farm_orders.order("created_at desc").each_with_index do |farm_order, index| %>
              <div class="d-flex justify-content-between">
                <p class="line-style font-weight-light">
                  <%= farm_order.farm.name %>
                </p>
                <div>
                  <p class="price"><%= farm_order.price %></p>
                  <p class="currency"><%= farm_order.price_currency %></p>
                </div>
              </div>
            <% end %>
          </div>
          <div class="recap-line"></div>
          <div class="d-flex justify-content-between pt-3 px-3">
            <p class="total-style"><%= t(".total") %></p>
            <div>
              <p class="price"><%= @order.price %></p>
              <p class="currency"><%= @order.price_currency %></p>
            </div>
          </div>
          <%= link_to t(".confirm"), delivery_order_path(current_order), class: "btn btn-primary btn-lg btn-block confirm-button" %>
        </div>
      </div>
    </div>
    <%= link_to t(".confirm"), delivery_order_path(current_order), class: "btn btn-primary btn-lg btn-block confirm-button mobile-confirm-button"%>
  </div>
</div>
