<%= form_tag update_delivery_methods_order_path, method: :patch, id: "delivery-choices", 'data-type' => :json do %>
<div id="confirmation">
  <div id="header-confirmation">
    <div class="step completed">
      <div class="step-link"></div>
    <%= link_to review_order_path(@order) do %>
      <div class="circle-number"><span>1</span></div>
    <% end %>
      <span class="step-name"><%= t(".header.step1") %></span>
    </div>
    <div class="step active">
      <div class="step-link"></div>
      <div class="circle-number"><span>2</span></div>
      <span class="step-name"><%= t(".header.step2") %></span>
    </div>
    <div class="step">
      <div class="circle-number"><span>3</span></div>
      <span class="step-name"><%= t(".header.step3") %></span>
    </div>
  </div>
  <!--<h2 class="my-5 your-basket" style="margin-left: 8%;">Ton panier</h2>-->
  <div class="review">
    <div class="row w-100 reverse-on-mobile">
      <div class="col-lg-8 col-12 p-0">
        <div class="row">
          <h2 class="info-name">Informations de livraison</h2>
          <div class="informations-frame size-876">
            <div class="row p-3  h-100 align-items-center">
              <h4 class="col m-0"><%= current_user.full_name %></h4>
              <p class="col m-0"><%= current_user.address_line_1 %><br/>
                <%= current_user.address_line_2 %></p>
              <p class="col m-0"><%= current_user.email %><br/>
                <%= current_user.number_phone %></p>
              <p class="col m-0 text-right"><%= link_to "Modifier mes informations", root_path, class: "edit-infos" %></p>
            </div>
          </div>
        </div>
        <h2 class="info-name">Mode de livraison</h2>
          <div class="d-flex">
          <div class="row w-100 justify-content-between">
        <% @order.farm_orders.order("created_at desc").each_with_index do |farm_order, index| %>
          <% accepts_take_away = farm_order.farm.accepts_take_away %>
          <% accepts_delivery = farm_order.farm.accepts_delivery %>
          <% is_in_close_zone = farm_order.farm.regions.include?(get_zip_code_number) %>
          <div class="delivery-card col-12 col-md-5 my-3 py-4 px-3">
            <%= hidden_field_tag farm_order.id.to_s, "X", data: {takeaway: @shipping_prices["takeaway"], delivery: is_in_close_zone ? @shipping_prices["express"] : @shipping_prices["standard"]} %>
            <p class="shipping-title"><%= farm_order.farm.name %></p>
            <p class="basket-number text-center"><%= sum = farm_order.order_line_items.sum { |item| item.quantity } %> <%= sum > 1 ? t(".product").pluralize : t(".product") %></p>
            <div class="aditional-infos"></div>
            <div class="d-flex">
            <% if accepts_delivery %>
            <a href="#"  id="deliverySend" class="shipping-option unselected mr-1">
            <div class="shipping-icon mb-2">
              <%= show_svg('icons/delivery-truck.svg') %>
            </div>
              <span class="title"><% if is_in_close_zone %>
                Distribution régionale
                <% else %>
                  Expédition nationale
                <% end %>
              </span>
              <span class="price"><% if is_in_close_zone %><%= @shipping_prices["express"] %><% else%><%= @shipping_prices["standard"] %><% end %> CHF</span>
              <span class="subtitle"><%= t('farms.show.hours_delivery') %> <%= Date.current.strftime('%d')  %> <%= t('farms.show.and_delivery') %> <%= I18n.l((Date.current + farm_order.farm.delivery_delay.days), format: "%d %B", locale: :'fr') %></span>
            </a>
            <% else %>
             <div class="shipping-option mr-1">
            <div class="shipping-icon mb-2">
              <%= show_svg('icons/delivery-truck.svg') %>
            </div>
              <span class="title">Expédition</span>
                <span class="subtitle">Indisponible pour votre panier</span>
            </div>
            <% end %>
            <<%= accepts_take_away ? "a" : "div" %> href="#" id="deliveryPickup" class="shipping-option <%= "unselected" if accepts_take_away %> mr-1">
                <div class="shipping-icon mb-2">
                <%= show_svg('icons/delivery-bag.svg') %>
              </div>
              <span class="title">Retrait à la ferme</span>
              <span class="price">Gratuit</span>
                <span class="subtitle"><% unless accepts_take_away %>Indisponible pour votre panier<% end %></span>
              </<%= accepts_take_away ? "a" : "div" %>>
            </div>
          </div>
        <% end %>
          </div>
          </div>
      </div>
      <div class="col-lg-4 col-12 align-items-end p-0 position-relative">
        <div class="recap-card">
          <div class="px-3">
            <h2 class="recap-title"><%= t(".recap") %></h2>
            <% @order.farm_orders.order("created_at desc").each_with_index do |farm_order, index| %>
              <div class="d-flex justify-content-between">
                <p class="line-style font-weight-light">
                  <%= farm_order.farm.name %>
                </p>
                <div>
                  <p class="price farm-order-price"><%= farm_order.price %></p>
                  <p class="currency"><%= farm_order.price_currency %></p>
                </div>
              </div>
            <% end %>
            <div class="d-flex justify-content-between">
                <p class="line-style font-weight-light">
                  Frais livraison estimé
                </p>
                <div>
                  <p id="delivery-price" class="price">0</p>
                  <p class="currency"><%= @order.price_currency %></p>
                </div>
              </div>
          </div>
          <div class="recap-line"></div>
          <div class="d-flex justify-content-between pt-3 px-3">
            <p class="total-style"><%= t(".total") %></p>
            <div>
              <p id="totalPrice" class="price"><%= @order.price %></p>
              <p class="currency"><%= @order.price_currency %></p>
            </div>
          </div>
          <%= submit_tag t(".confirm"), class: "btn btn-primary btn-lg btn-block confirm-button", disabled: true %>
        </div>
      </div>
    </div>
    <%= submit_tag t(".confirm"), class: "btn btn-primary btn-lg btn-block confirm-button mobile-confirm-button"%>
  </div>
</div>
<% end %>
<script src="https://pay.sandbox.datatrans.com/upp/payment/js/datatrans-2.0.0.js"></script>
<%= javascript_pack_tag 'delivery' %>
