<div class="about">
  <div class="container">
    <h1><%= t('.about') %></h1>
    <h2><%= t('.mission') %></h2>
    <p class= "mission"><%= t('.mission_description') %></p>

    <h6><%= t('.solution_title') %></h6>

    <ul>
      <li><%= t('.first_solution') %></li>
      <li><%= t('.second_solution') %></li>
      <li><%= t('.third_solution') %></li>
      <li><%= t('.fourth_solution') %></li>
    </ul>

    <h6><%= t('.project') %></h6>
    <p><%= t('.proposition') %></p>

    <h6><%= t('.values') %></h6>
    <p><%= t('.values_paragraph') %></p>
    <ul>
      <li><%= t('.first_value') %></li>
      <li><%= t('.second_value') %></li>
      <li><%= t('.third_value') %></li>
    </ul>

    <h2><%= t('.concept') %></h2>
    <h4><%= t('.sub_title_concept') %></h4>

    <div class="d-flex concept">

      <div class="concept-example">
        <h6><%= t('.supports') %></h6>
        <span><%= t('.supports_paragraph') %></span>
        <h6><%= t('.healthy') %></h6>
        <span><%= t('.healthy_paragraph') %></span>
        <h6><%= t('.planet') %></h6>
        <span><%= t('.planet_paragraph') %></span>
      </div>

      <div class="who">
        <h6 class="who-title"><%= t('.who') %></h6>

        <ol>
          <li><%= t('.first_who') %></li>
          <li><%= t('.second_who') %></li>
          <li><%= t('.third_who') %></li>
          <li><%= t('.fourth_who') %></li>
          <li><%= t('.fifth_who') %></li>
          <li><%= t('.sixth_who') %></li>
        </ol>
      </div>
    </div>
  </div>
</div>
