<div class="container">
  <div class="cgv">
    <h1><%= t('.title') %></h1>
    <p><%= t('.first_paragraph1') %></p>
    <h6><%= t('.article1') %></h6>
    <p><%= t('.second_paragraph1') %></p>
    <p><%= t('.third_paragraph1') %></p>
    <p><%= t('.fourth_paragraph1') %></p>
    <p><%= t('.fifth_paragraph1') %></p>
    <p><%= t('.sixth_paragraphe1') %></p>

    <h6><%= t('.article2') %></h6>
    <p><%= t('.first_paragraph1') %></p>
    <p><%= t('.second_paragraph2') %></p>
    <p><%= t('.third_paragraph2') %></p>
    <p><%= t('.fourth_paragraph2') %></p>
    <p><%= t('.fifth_paragraph2') %></p>
    <p><%= t('.sixth_paragraphe2') %></p>
    <p><%= t('.seventh_paragraphe2') %></p>
    <p><%= t('.eighth_paragraphe2') %></p>
    <p><%= t('.ninth_paragraphe2') %></p>

    <h6><%= t('.article3') %></h6>
    <p><%= t('.first_paragraph3') %></p>
    <p><%= t('.second_paragraph3') %></p>

    <h6><%= t('.article4') %></h6>
    <p><%= t('.first_paragraph4') %></p>
    <p><%= t('.second_paragraph4') %></p>
    <p><%= t('.third_paragraph4') %></p>
    <p><%= t('.fourth_paragraph4') %></p>
    <p><%= t('.fifth_paragraph4') %></p>

    <h6><%= t('.article5') %></h6>
    <p><%= t('.first_paragraph5') %></p>

    <h6><%= t('.article6') %></h6>
    <p><%= t('.first_paragraph6') %></p>
    <p><%= t('.second_paragraph6') %></p>
    <p><%= t('.third_paragraph6') %></p>
  </div>
</div>
