<div class="container">
  <div class="cgv">
    <h1><%= t('.title') %></h1>
    <h2><%= t('.sub_title') %></h2>
    <p><%= t('.first_paragraph') %></p>
    <h6><%= t('.paragraph_title1') %></h6>
    <p><%= t('.second_paragraph') %></p>
    <h6><%= t('.paragraph_title2') %></h6>
    <p><%= t('.third_paragraph') %></p>
  </div>
</div>
