<div class="charter-page">
  <div class="container">
    <h1><%= t('.charter') %></h1>
    <p><%= t('.charte_para1') %>
      <br>
      <br>
      <%= t('.charte_para2') %></p>
    <h2><%= t('.origine_title1') %> :</h2>
    <p><u><%= t('.origine_para1_html') %><br>
      <br>
      <u><%= t('.origine_para2_html') %><br>
      <br>
      <u><%= t('.origine_para3_html') %></p>
    <h2><%= t('.producteurs_title2') %> :</h2>
    <p><%= t('.producteurs_para1') %><br>
      <%= t('.producteurs_para2') %><br>
      <br>
      <%= t('.producteurs_para3_html') %><br>
      <br>
      <%= t('.producteurs_para4') %><br>
      <br>
      <%= t('.producteurs_para5_html') %></p>
    <h2><%= t('.hygiene_title3') %></h2>
    <p><%= t('.hygiene_para1') %></p>
  </div>
</div>
