<div class="charter-page">
  <div class="container">

    <h1><%= t('.charter') %></h1>
    <h6><%= t('.guarantee') %></h6>

   <ul>
     <li><h6><%= t('.first_guarantee') %></h6></li>
     <li><h6><%= t('.second_guarantee') %></h6></li>
     <li><h6><%= t('.third_guarantee') %></h6></li>
     <li><h6><%= t('.fourth_guarantee') %></h6></li>
   </ul>
  </div>
</div>
