<div class="community-page">
  <div class="container">

    <h1><%= t('.community') %></h1>
    <h2><%= t('.companion') %></h2>
    <h6><%= t('.distribute_wealth') %></h6>
    <h6><%= t('.combat') %></h6>
    <h6><%= t('.local') %></h6>
    <h6><%= t('.become') %></h6>

    <div class="d-flex">
      <h6><%= t('.offers') %> <span class="mail"><%= mail_to  "info@robindesfermes.ch", t('.mail') %></span> <%= t('.informations') %></h6>
    </div>
  </div>
</div>
