<div class="container">
  <div class="faq">
    <h2><%= t('.faq') %></h2>
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header p-0" id="headingOne">
          <h5 class="mb-0">
            <button class="btn d-flex" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <h5><%= t('.question1') %></h5>
              <div class= ml-auto>
                <div class = "arrow-down"><%= image_tag "icons/arrow_faq.png", alt: "alttext" %></div>
                <div class = "arrow-up"><%= image_tag "icons/arrow_up_faq.png", alt: "alttext" %></div>
              </div>
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <%= t('.reponse1') %>
            <br>
            <br>
            <%= t('.reponse1_subtitle') %>
            <ul>
              <li><%= t('.reponse1_support') %></li>
              <li><%= t('.reponse1_discover') %></li>
              <li><%= t('.reponse1_think') %></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header p-0" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn d-flex collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <h5><%= t('.question2') %></h5>
              <div class= ml-auto>
                <div class = "arrow-down"><%= image_tag "icons/arrow_faq.png", alt: "alttext" %></div>
                <div class = "arrow-up"><%= image_tag "icons/arrow_up_faq.png", alt: "alttext" %></div>
              </div>
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <%= t('.reponse2') %>
            <br>
            <br>
            <%= t('.reponse2_subtitle') %>
            <p> <strong><%= t('.e-commerce_strong') %></strong> <%= t('.e-commerce') %></p>
            <p> <strong><%= t('.visibility_strong') %></strong>  <%= t('.visibility') %></p>
            <p><strong><%= t('.logistics_strong') %></strong>  <%= t('.logistics') %></p>
            <p><strong> <%= t('.community_strong') %></strong> <%= t('.community') %></p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header p-0" id="headingThree">
          <h5 class="mb-0">
            <button class="btn d-flex collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <h5><%= t('.question3') %></h5>
              <div class= ml-auto>
                <div class = "arrow-down"><%= image_tag "icons/arrow_faq.png", alt: "alttext" %></div>
                <div class = "arrow-up"><%= image_tag "icons/arrow_up_faq.png", alt: "alttext" %></div>
              </div>
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            <%= t('.reponse3') %>
            <%= link_to  t('.link'),  "https://www.robindesfermes.ch/charter", target: :blank%>
            <%= t('.reponse3-2') %>
            <br>
            <br>
            <ul>
              <li><%= t('.reponse3_producer') %></li>
              <li><%= t('.reponse3_products') %></li>
              <li><%= t('.reponse3_products_composition') %></li>
              <li><%= t('.reponse3_hygiene') %></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header p-0" id="headingFour">
          <h5 class="mb-0">
            <button class="btn d-flex collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <h5><%= t('.question4') %></h5>
              <div class= ml-auto>
                <div class = "arrow-down"><%= image_tag "icons/arrow_faq.png", alt: "alttext" %></div>
                <div class = "arrow-up"><%= image_tag "icons/arrow_up_faq.png", alt: "alttext" %></div>
              </div>
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body">
            <%= t('.reponse4') %>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header p-0" id="headingFive">
          <h5 class="mb-0">
            <button class="btn d-flex collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              <h5><%= t('.question5') %></h5>
              <div class= ml-auto>
                <div class = "arrow-down"><%= image_tag "icons/arrow_faq.png", alt: "alttext" %></div>
                <div class = "arrow-up"><%= image_tag "icons/arrow_up_faq.png", alt: "alttext" %></div>
              </div>
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
          <div class="card-body">
            <%= t('.reponse5') %>
            <br>
            <br>
            <%= t('.reponse5_delivery') %>
            <br>
            <br>
            <%= t('.reponse5_order') %>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header p-0" id="headingSix">
          <h5 class="mb-0">
            <button class="btn d-flex collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              <h5><%= t('.question6') %></h5>
              <div class= ml-auto>
                <div class = "arrow-down"><%= image_tag "icons/arrow_faq.png", alt: "alttext" %></div>
                <div class = "arrow-up"><%= image_tag "icons/arrow_up_faq.png", alt: "alttext" %></div>
              </div>
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
          <div class="card-body">
            <strong> <%= t('.distribution_strong') %> </strong>
            <br>
            <br>
            <%= t('.distribution') %>
            <br>
            <br>
            <%= t('.distribution_price', price: FarmOrder::ShippingPrice.express_not_companion.price) %>
            <br>
            <br>
            <strong><%= t('.shipping_strong') %></strong>
            <br>
            <br>
            <%= t('.shipping') %>
            <br>
            <br>
            <%= t('.shipping_price', price: FarmOrder::ShippingPrice.standard_not_companion.price) %>
            <br>
            <br>
            <strong><%= t('.withdrawal_strong') %></strong>
            <br>
            <br>
            <%= t('.withdrawal') %>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header p-0" id="headingSeven">
          <h5 class="mb-0">
            <button class="btn d-flex collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              <h5><%= t('.question7') %></h5>
              <div class= ml-auto>
                <div class = "arrow-down"><%= image_tag "icons/arrow_faq.png", alt: "alttext" %></div>
                <div class = "arrow-up"><%= image_tag "icons/arrow_up_faq.png", alt: "alttext" %></div>
              </div>
            </button>
          </h5>
        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
          <div class="card-body">
            <%= t('.reponse7') %>
            <br>
            <br>
            <%= t('.reponse7_producer') %>
            <br>
            <br>
            <%= t('.response7_packaging') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
