<div class="home">
  <div class="banner" >
    <div class="container ">
      <h2><%= t('.title') %></h2>
      <p><%= t('.sub_title1') %> <strong><%= t('.sub_title_bold1') %></strong><%= t('.sub_title2') %><strong><%= t('.sub_title_bold2') %></strong><%= t('.sub_title3') %><strong><%= t('.sub_title_bold3') %></strong><%= t('.sub_title4') %><strong><%= t('.sub_title_bold4') %></strong><%= t('.sub_title5') %></p>
      <%= form_tag farms_path, method: :get, id: "farm-search-form", class: 'form-inline search' do %>
        <%= text_field_tag :zip, get_zip_code_number, readonly: true, class: 'form-control search', id: "zip_code_input", placeholder: "Où habitez-vous ?" %>
        <%= submit_tag "DECOUVRIR LES PRODUCTEURS", class: "btn", name: nil %>
      <% end %>

    </div>
  </div>

  <div class="container">
    <div class="home-category">

      <div class="food d-flex">

        <div>
          <div>
            <%= image_tag "categories/meat.png", alt: "Viande" %>
            <h6><%= t('.viandes') %></h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. A tortor ut morbi ornare sit quam tortor, sit. Quam dignissim morbi tincidunt neque. </p>
            <%= link_to farms_path(category: "Viande & Volaille"), class: "navbar-brand d-flex" do %>
              <%= image_tag "categories/line.png", alt: "line" %>
              <p>DÉCOUVRIR LES VIANDES</p>
            <% end %>
          </div>

          <div>
            <%= image_tag "categories/milk.png", alt: "Lait" %>
            <h6><%= t('.laitiers') %></h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. A tortor ut morbi ornare sit quam tortor, sit. Quam dignissim morbi tincidunt neque. </p>
            <%= link_to farms_path(category: "Produits Laitiers"), class: "navbar-brand d-flex" do %>
              <%= image_tag "categories/line.png", alt: "line" %>
              <p>DÉCOUVRIR LES PRODUITS LAITIERS</p>
            <% end %>
          </div>
        </div>

        <div>
          <h2><%= t('.products') %></h2>

          <div>
            <%= image_tag "categories/fish.png", alt: "Vin" %>
            <h6><%= t('.vins') %></h6>
            <p>Tu aimes la bonne vinaille ? Retrouve nos vignerons </p>
            <%= link_to farms_path(category: "Vin"), class: "navbar-brand d-flex" do %>
              <%= image_tag "categories/line.png", alt: "line" %>
              <p> DÉCOUVRIR LES VINS</p>
            <% end %>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
