<div class="home">
  <div class="banner" >
    <div class="container ">
      <h2>La vente directe, droit dans le mille</h2>
      <p>Trouve le produit ou l'exploitation de ton choix, commande en quelques clics, paie en ligne et déguste ta victoire : quand c'est juste, c'est encore meilleur!</p>
      <%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'form-inline search' } do |f| %>
        <%= f.input :name, label: false, input_html: {value: "Où habitez-vous ?"}, class: 'search-bar'%>
        <%= f.submit "RECHERCHER", class: "btn" %>
      <% end %>
    </div>
  </div>

  <div class="vector">

  </div>

  <div class="home-category">
    <h2>Du blé, des radis, de l'oseille : les bons produits au juste prix !</h2>
    <div class="food">
      <%= link_to "#", class: "navbar-brand" do %>
        <%= image_tag "meat.png", alt: "alttext" %>
        <p>Viandes</p>
      <% end %>
      <%= link_to "#", class: "navbar-brand" do %>
        <%= image_tag "fish.png", alt: "alttext" %>
        <p>Poissons</p>
      <% end %>
      <%= link_to "#", class: "navbar-brand" do %>
        <%= image_tag "milk.png", alt: "alttext" %>
        <p>Produits laitiers</p>
      <% end %>
    </div>
    <div class="low-vector">

    </div>

  </div>


  <div class="home-farms">
    <h2>Et pour ces bons produits, on dit merci à qui ?</h2>

  </div>

  <div class="vector">

  </div>

  <div class="rdf-presentation">
    <h2>Oyez, oyez, producteurs, rejoignez-nous ! </h2>

    <div class = "row">

      <div class= >
        <%= image_tag "sell.png", alt: "alttext" %>
        <p>Vendez vos produits en ligne</p>
      </div>

      <div class= >
        <%= image_tag "presentation.png", alt: "alttext" %>
        <p>Présentez votre exploitation</p>
      </div>

      <div class= >
        <%= image_tag "community.png", alt: "alttext" %>
        <p>Elargissez votre communauté</p>
      </div>

    </div>

  </div>

</div>

<div class="footer row">
  <%= image_tag "Robin-des-fermes-logo-2lignes-beiges500px 1.png" %>

  <div class="information">

    <div class="row ">

      <div >
        <p class= "title">Informations</p>
        <p>Livraison</p>
        <p>Mode de paiement</p>
        <p><%= link_to "FAQ", "#"  %></p>
        <p><%= link_to "CGV", "#"  %></p>

      </div>

      <div>
        <br>
        <br>
        <p>A propos</p>
        <p>Contact</p>
        <p>Livraison</p>
        <p>Liste des producteurs</p>

      </div>

    </div>

  </div>


  <div class="contact">
    <p class= "title">Contactez-nous</p>
    <p>info@robindesfermes.ch</p>
    <p>021 000 00 00</p>

  </div>

  <div class="link">
    <p class= "title">Retrouvez-nous</p>
    <div class="footer-links">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>

  </div>

</div>

