<div class="home">
  <div class="banner" >
    <div class="container ">
      <h2>La vente directe, droit dans le mille</h2>
      <p>Trouve le produit ou l'exploitation de ton choix, commande en quelques clics, paie en ligne et déguste ta victoire : quand c'est juste, c'est encore meilleur!</p>
      <%= form_tag farms_path, method: :get, id: "farm-search-form", class: 'form-inline search' do %>
        <%= text_field_tag :zip, get_zip_code_number, readonly: true, class: 'form-control search', id: "zip_code_input", placeholder: "Où habitez-vous ?" %>
        <%= submit_tag "RECHERCHER", class: "btn", name: nil %>
      <% end %>

    </div>
  </div>

  <div class="vector">

  </div>

  <div class="home-category">

    <h2>Du blé, des radis, de l'oseille : les bons produits au juste prix !</h2>

    <div class="food">
      <%= link_to farms_path(category: "Viande & Volaille"), class: "navbar-brand" do %>
        <%= image_tag "categories/meat.png", alt: "Viande" %>
        <p>Viandes</p>
      <% end %>
      <%= link_to farms_path(category: "Poisson"), class: "navbar-brand" do %>
        <%= image_tag "categories/fish.png", alt: "Poisson" %>
        <p>Poissons</p>
      <% end %>
      <%= link_to farms_path(category: "Produits Laitiers"), class: "navbar-brand" do %>
        <%= image_tag "categories/milk.png", alt: "Lait" %>
        <p>Produits laitiers</p>
      <% end %>
    </div>

    <div class="low-vector"></div>

  </div>


  <div class="home-farms">
    <h2>Et pour ces bons produits, on dit merci à qui ?</h2>
    <div >

      <div class="row">
        <div class="col col-lg-6 ">

          <div class="first-photo">

            <div>
              <%= link_to farm_path(@highlighted_farm) do %>
                <%= cl_image_tag(@highlighted_farm.photos.first.key, height: 474, width: 570, crop: :fill)  %>
              <% end %>
            </div>


            <div class = "name">
            <p><%= @farms.first.name %></p>

            </div>

          </div>
        </div>

        <div class="col col-lg-6">

          <div class="all-photo">
            <% @other_farms.each do |farm|  %>

              <div class = "photo">

                  <%= link_to farm_path(farm) do %>
                    <%= cl_image_tag(farm.photos.first.key, height: 222, width: 270, crop: :fill )%>
                  <% end %>
                <p><%= farm.name %></p>

              </div>
            <% end %>

          </div>

    </div>

      </div>
    </div>


  </div>

  <div class="vector"></div>

  <div class="rdf-presentation">
    <h2>Oyez, oyez, producteurs, rejoignez-nous ! </h2>

    <div class = "row">

      <div>
        <%= image_tag "home/sell.png", alt: "alttext" %>
        <p>Vendez vos produits en ligne</p>
      </div>

      <div>
        <%= image_tag "home/presentation.png", alt: "alttext" %>
        <p>Présentez votre exploitation</p>
      </div>

      <div>
        <%= image_tag "home/community.png", alt: "alttext" %>
        <p>Elargissez votre communauté</p>
      </div>

    </div>

  </div>

</div>
