<div class="home">
  <div class="banner d-flex" >
    <%= image_tag "new-home/big-ellipse.png", alt: "alttext", class: 'ellipse-small' %>
    <%= image_tag "new-home/small-ellipse.png", alt: "alttext", class: 'ellipse-big' %>
    <div class="banner-content">
      <div class="text-banner">
        <h1><%= t('.title1') %> <span class="strikethrough"><%= t('.title-strike') %></span> <%= t('.title2') %></h1>
        <p><%= t('.sub_title1') %> <strong><%= t('.sub_title_bold1') %></strong><%= t('.sub_title2') %></p>
        <%= form_tag farms_path, method: :get, class: 'form-inline search' do %>
          <%= text_field_tag :zip, get_zip_code_number, readonly: true, class: 'form-control search zip_code_input', id: 'zip1', placeholder: "Où habites-tu ?" %>
          <%= submit_tag "DÉCOUVRIR LES PRODUCTEURS", class: "btn btn-computer", name: nil %>
          <%= submit_tag "DÉCOUVRIR", class: "btn btn-mobile", name: nil %>
          <%= submit_tag "TOUT DÉCOUVRIR", class: "btn btn-small-mobile", name: nil %>
        <% end %>
      </div>

      <%= image_tag "new-home/banner-images", alt: "alttext", class: 'img-banner' %>
    </div>
  </div>
  <div class="waves">
    <h3><%= t('.sale') %></h3>
  </div>
  <div class="direct-sale">
    <p class="work-question"><%= t('.work?') %></p>
    <div class="path">
      <div class="path-marker path-picto">
        <%= image_tag "new-home/icon-marker", alt: "alttext", width: 100, class: "img-marker" %>
        <h3><%= t('.title-marker') %> </h3>
        <p><%= t('.text-marker') %> <strong><%= t('.text-marker-strong') %></strong> <%= t('.text-marker-last') %></p>
      </div>
      <%= image_tag "new-home/grey-line.png", alt: "alttext", class: "grey-line" %>
      <div class="path-hand path-picto">
        <%= image_tag "new-home/icon-hand", alt: "alttext", width: 100, class: "img-hand" %>
        <h3><%= t('.title-hand') %></h3>
        <p><%= t('.text-hand') %> <strong><%= t('.text-hand-strong') %></strong> <%= t('.text-hand-last') %></p>
      </div>
      <%= image_tag "new-home/grey-line.png", alt: "alttext", class: "grey-line" %>
      <div class="path-farmer path-picto">
        <%= image_tag "new-home/icon-farmer", alt: "alttext", width: 100, class: "img-farmer"  %>
        <h3><%= t('.title-farmer') %></h3>
        <p><%= t('.text-farmer') %> <strong><%= t('.text-farmer-strong') %></strong></p>
      </div>
      <%= image_tag "new-home/grey-line.png", alt: "alttext", class: "grey-line" %>
      <div class="path-eat path-picto">
        <%= image_tag "new-home/icon-eat", alt: "alttext", width: 100, class: "img-eat" %>
        <h3><%= t('.title-eat') %></h3>
        <p><%= t('.text-eat') %> <strong><%= t('.text-eat-strong') %></strong></p>
      </div>
      <%= image_tag "new-home/grey-line.png", alt: "alttext", class: "grey-line" %>
      <div class="path-return path-picto">
        <%= image_tag "new-home/icon-return", alt: "alttext", width: 100, class: "img-return" %>
        <h3><%= t('.title-return') %></h3>
        <p><%= t('.text-return') %> <strong><%= t('.text-return-strong') %></strong> <%= t('.text-return-last') %></p>
      </div>
    </div>
  </div>
  <div class="wealth-distribution">
    <div class="container">
      <h3 class="statistic-title"><%= t('.statistic') %></h3>
      <div class="statistic-description">
        <%= image_tag "new-home/wealth-distribution-1980", alt: "alttext", class: "img-1980" %>
        <div class="statistic-text">
          <h3><span><%= t('.statistic-1980') %></span> <%= t('.statistic-1980-title') %></h3>
          <p><%= t('.statistic-1980-description') %></p>
        </div>
      </div>

      <div class="statistic-description">
        <%= image_tag "new-home/wealth-distribution-2020", alt: "alttext", class: "img-2020" %>
        <div class="statistic-text">
          <h3><span><%= t('.statistic-2020') %></span> <%= t('.statistic-2020-title') %></h3>
          <p><%= t('.statistic-2020-description') %><strong class="word-underline"> <%= t('.statistic-2020-description-30') %></strong><strong> <%= t('.statistic-2020-description-strong') %></strong> <%= t('.statistic-2020-description-last') %></p>
          <%= image_tag "new-home/stroke.png", alt: "alttext", class: "stroke" %>
        </div>
      </div>

      <div class="statistic-description">
        <%= image_tag "new-home/wealth-distribution-today", alt: "alttext", class: "img-today" %>
        <div class="statistic-text">
          <h3><span><%= t('.statistic-today') %></span> <%= t('.statistic-today-title') %></h3>
          <p><%= t('.statistic-today-description') %> <strong><%= t('.statistic-today-description-strong') %></strong> <%= t('.statistic-today-description-last') %> <strong><%= t('.statistic-today-description-strong-last') %></strong></p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="home-category">
      <div class="title-btn-category">
        <h3><%= t('.products-title') %></h3>
        <div class="link-discover">
          <%= link_to "TOUT DÉCOUVRIR", farms_path, class: "btn btn-discover"  %>
        </div>
      </div>

      <div class="food">
        <div class="card-category">
          <%= image_tag "categories/meat.jpg", alt: "Viande" %>
          <p><%= t('.viandes') %></p>
        </div>
        <div class="card-category">
          <%= image_tag "categories/vegetables.png", alt: "Lait" %>
          <p><%= t('.vegetables') %></p>
        </div>
        <div class="card-category">
          <%= image_tag "categories/wine.png", alt: "Vin" %>
          <p><%= t('.vins') %></p>
        </div>
        <div class="card-category">
          <%= image_tag "categories/bio.jpg", alt: "Bio" %>
          <p><%= t('.bio') %></p>
        </div>
      </div>

      <div class="owl-carousel owl-theme">
        <div class="item">
          <div class="card-category">
            <%= image_tag "categories/meat.jpg", alt: "Viande" %>
            <p><%= t('.viandes') %></p>
          </div>
        </div>
        <div class="item">
          <div class="card-category">
            <%= image_tag "categories/vegetables.png", alt: "Lait" %>
            <p><%= t('.vegetables') %></p>
          </div>
        </div>
        <div class="item">
          <div class="card-category">
            <%= image_tag "categories/wine.png", alt: "Vin" %>
            <p><%= t('.vins') %></p>
          </div>
        </div>
        <div class="item">
          <div class="card-category">
            <%= image_tag "categories/bio.jpg", alt: "Bio" %>
            <p><%= t('.bio') %></p>
          </div>
        </div>
      </div>
      <div class="link-discover">
        <%= link_to "TOUT DÉCOUVRIR", farms_path, class: "btn btn-discover-mobile"  %>
      </div>
    </div>
  </div>
  <div class="video">
    <div class="container">
      <h3><%= t('.video-title') %></h3>
      <p><%= t('.video-description') %></p>
      <div class="d-flex">
        <%= image_tag "new-home/question.png", alt: "alttext", class: "img-question" %>
        <iframe src="https://player.vimeo.com/video/708681144?h=dc5a7b0215" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        <%= image_tag "new-home/100.png", alt: "alttext", class: "img-100" %>
      </div>
    </div>
  </div>
  <div class="citation container">
    <div class="citation-title">
      <h3><%= t('.citation-title') %></h3>
      <div class="img-rancon">
        <%= image_tag "new-home/rancon.png", alt: "alttext" %>
      </div>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h2>«<%= t('.citation-24hours') %>.»</h2>
        </div>
        <div class="carousel-item">
          <h2>«<%= t('.citation-world') %>.»</h2>
        </div>
        <div class="carousel-item">
          <h2>«<%= t('.citation-liberty') %>.»</h2>
        </div>
        <div class="carousel-item">
          <h2>«<%= t('.citation-courrier') %>.»</h2>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="img-citations">
      <%= image_tag "new-home/24heures-grey.png", alt: "alttext", class: "img-24heures-grey" %>
      <%= image_tag "new-home/terre-nature.png", alt: "alttext", class: "img-terre-nature" %>
      <%= image_tag "new-home/24heures-color.png", alt: "alttext", class: "img-24heures-color" %>
      <%= image_tag "new-home/terre-nature.png", alt: "alttext", class: "img-terre-nature" %>
      <%= image_tag "new-home/24heures-grey.png", alt: "alttext", class: "img-24heures-grey" %>
    </div>
  </div>

  <div class="join">
    <div class="companion">
      <div class="container companion-image-text">
        <%= image_tag "new-home/companion.png", alt: "alttext", class: "img-companion" %>
        <div class="companion-text">
          <h3><%= t('.join-companions-title') %></h3>
          <p><%= t('.join-companions-description') %></p>
          <p><%= t('.join-companions-description2') %></p>
          <p class="green-sentence"><%= t('.join-companions-description-green') %></p>
          <p><%= t('.join-companions-description-last') %></p>
          <%= link_to "ÇA M'INTRIGUE VOTRE COMBINE", community_path, class: "btn join-btn" %>
        </div>
      </div>
    </div>
    <%= image_tag "new-home/vector-white.png", alt: "alttext", class: "img-vector" %>
    <div class="producers">
      <div class="container producers-image-text">
        <div class="producers-text">
          <%= image_tag "new-home/shape.png", alt: "alttext", class: "shape-img" %>
          <div class="shape-mobile-img">
            <%= image_tag "new-home/shape-mobile.png", alt: "alttext", class: "" %>
          </div>
          <h3><%= t('.join-producers-title') %></h3>
          <p><%= t('.join-producers-description') %> <strong><%= t('.join-producers-description-strong') %></strong> <%= t('.join-producers-description-last') %></p>
          <%= link_to "ÇA M'INTERESSE", community_path, class: "btn join-btn" %>
        </div>
        <div class="img-mobile-desktop">
          <div class="heart-img">
            <%= image_tag "new-home/heart.png", alt: "alttext", class: "" %>
          </div>
          <%= image_tag "new-home/producers-grid.jpg", alt: "alttext", class: "producers-img" %>
        </div>
      </div>
    </div>

  </div>

  <div class="testimonials">
    <div class="container">
      <h3><%= t('.testimony_title') %></h3>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="testimonials-informations">
              <%= image_tag "new-home/stars.png", alt: "alttext", class: "stars-img" %>
              <p class="testimony-text"> <%= t('.testimony1') %></p>
              <%= image_tag "testimony/pierre-carroz.png", alt: "alttext", class: "profil-img" %>
              <p class="name">Pierre Carroz</p>
              <p class="text"><%= t('.testimony_text1') %></p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="testimonials-informations">
              <%= image_tag "new-home/stars.png", alt: "alttext", class: "stars-img" %>
              <p class="testimony-text"> <%= t('.testimony2') %></p>
              <%= image_tag "testimony/testimony2.png", alt: "alttext", class: "profil-img" %>
              <p class="name">Diane Baud</p>
              <p class="text"><%= t('.testimony_text2') %></p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="testimonials-informations">
              <%= image_tag "new-home/stars.png", alt: "alttext", class: "stars-img" %>
              <p class="testimony-text"> <%= t('.testimony3') %></p>
              <%= image_tag "testimony/testimony3.png", alt: "alttext", class: "profil-img" %>
              <p class="name">Francis Joye</p>
              <p class="text"><%= t('.testimony_text3') %></p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <div class="typeform">
    <%= image_tag "new-home/robin.png", alt: "alttext" %>
  </div>
</div>
<div id="pageInfos" data-submit-form="true"></div>
<%= render "shared/upviral" %>

