<div class="home">
  <div class="banner d-flex" >
    <%= image_tag "new-home/big-ellipse.png", alt: "alttext", class: 'ellipse-small' %>
    <%= image_tag "new-home/small-ellipse.png", alt: "alttext", class: 'ellipse-big' %>
    <div class="banner-content">
      <div class="text-banner">
        <div class="banner-title">
          <h1><%= t('.title1') %><br/><%= t('.title2') %></h1>
        </div>
        <p><%= t('.sub_title1') %> <strong><%= t('.sub_title_bold1') %></strong><%= t('.sub_title2') %></p>
        <%= form_tag farms_path, method: :get, class: 'form-inline search' do %>
          <%= text_field_tag :zip, get_zip_code_number, readonly: true, class: 'form-control search zip_code_input', id: 'zip1', placeholder: "Où habites-tu ?" %>
          <%= submit_tag "DÉCOUVRIR LES PRODUCTEURS", class: "btn btn-computer", name: nil %>
          <%= submit_tag "DÉCOUVRIR", class: "btn btn-mobile", name: nil %>
          <%= submit_tag "TOUT DÉCOUVRIR", class: "btn btn-small-mobile", name: nil %>
        <% end %>
      </div>

      <%= cl_image_tag "banner-images-2ef085d6c4a15228dfeab7bf2c0d22e8cbf4b9e327e818e27bf7ba03cb080fa8_1_-1-1_wsd9uj",
                        alt: "Vache, producteur et productrice dans un champs, panier de légumes",
                        class: 'img-banner', :transformation=>[{:fetch_format=>:auto}]
      %>
    </div>
  </div>
  <div class="waves">
    <h2><%= t('.sale') %></h2>
  </div>
  <div class="direct-sale">
    <p class="work-question"><%= t('.work?') %></p>
    <div class="path">
      <div class="path-marker path-picto">
        <%= cl_image_tag "Icon-1-trouve-le-producteur_ioumk9", alt: "Icône local", width: 130, class: "img-marker", :transformation=>[{:fetch_format=>:auto}] %>
        <h3><%= t('.title-marker') %> </h3>
        <p><%= t('.text-marker') %> <strong><%= t('.text-marker-strong') %></strong> <%= t('.text-marker-last') %></p>
      </div>
      <%= image_tag "new-home/grey-line.png", alt: "alttext", class: "grey-line" %>
      <div class="path-hand path-picto">
        <%= cl_image_tag "Icon-2-commande_sqrxe4", alt: "Icône clic", width: 130, class: "img-hand", :transformation=>[{:fetch_format=>:auto}] %>
        <h3><%= t('.title-hand') %></h3>
        <p><%= t('.text-hand') %> <strong><%= t('.text-hand-strong') %></strong> <%= t('.text-hand-last') %></p>
      </div>
      <%= image_tag "new-home/grey-line.png", alt: "alttext", class: "grey-line" %>
      <div class="path-farmer path-picto">
        <%= cl_image_tag "Icon-3-producteur_odrtwt", alt: "Icône producteur", width: 130, class: "img-farmer", :transformation=>[{:fetch_format=>:auto}]  %>
        <h3><%= t('.title-farmer') %></h3>
        <p><%= t('.text-farmer') %> <strong><%= t('.text-farmer-strong') %></strong></p>
      </div>
      <%= image_tag "new-home/grey-line.png", alt: "alttext", class: "grey-line" %>
      <div class="path-eat path-picto">
        <%= cl_image_tag "Icon-4-deguste_jkyop4", alt: "Icône fourchette et cuillère", width: 130, class: "img-eat", :transformation=>[{:fetch_format=>:auto}] %>
        <h3><%= t('.title-eat') %></h3>
        <p><%= t('.text-eat') %> <strong><%= t('.text-eat-strong') %></strong></p>
      </div>
      <%= image_tag "new-home/grey-line.png", alt: "alttext", class: "grey-line" %>
      <div class="path-return path-picto">
        <%= cl_image_tag "Icon-5-retourne_kyz5a9", alt: "Icône retour de livraison", width: 130, class: "img-return", :transformation=>[{:fetch_format=>:auto}] %>
        <h3><%= t('.title-return') %></h3>
        <p><%= t('.text-return') %> <strong><%= t('.text-return-strong') %></strong> <%= t('.text-return-last') %></p>
      </div>
    </div>
  </div>

  <div class="wealth-distribution">
    <div class="container">
      <h2 class="statistic-title"><%= t('.statistic') %></h2>
      <div class="statistic-description">
        <%= cl_image_tag "piece_1980_oudzx6", alt: "Piece de 1 francs divisée, répartition producteur et intermédiaire à  50%-50%",
                                              class: "img-1980", :transformation=>[{:fetch_format=>:auto}]
        %>
        <div class="statistic-text">
          <h3><span><%= t('.statistic-1980') %></span> <%= t('.statistic-1980-title') %></h3>
          <p><%= t('.statistic-1980-description') %></p>
        </div>
      </div>

      <div class="statistic-description">
        <%= cl_image_tag "piece_2021_x6vw87", alt: "Piece de 1 francs divisée, répartition producteur et intermédiaire à  33%-66%",
                                              class: "img-2020", :transformation=>[{:fetch_format=>:auto}]
        %>
        <div class="statistic-text">
          <h3><span><%= t('.statistic-2020') %></span> <%= t('.statistic-2020-title') %></h3>
          <p><%= t('.statistic-2020-description') %><strong class="word-underline"> <%= t('.statistic-2020-description-30') %></strong><strong> <%= t('.statistic-2020-description-strong') %></strong> <%= t('.statistic-2020-description-last') %></p>
          <%= image_tag "new-home/stroke.png", alt: "alttext", class: "stroke" %>
        </div>
      </div>

      <div class="statistic-description">
        <%= cl_image_tag "piece_2022_robin_tl44us", alt: "Piece de 1 francs divisée, répartition producteur et intermédiaire robin des fermes",
                                                    class: "img-today", :transformation=>[{:fetch_format=>:auto}]
        %>
        <div class="statistic-text">
          <h3><span><%= t('.statistic-today') %></span> <%= t('.statistic-today-title') %></h3>
          <p><%= t('.statistic-today-description') %> <strong><%= t('.statistic-today-description-strong') %></strong> <%= t('.statistic-today-description-last') %></p>
          <p><strong><%= t('.statistic-today-description-strong-last') %></strong></p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="home-category">
      <div class="title-btn-category">
        <h2><%= t('.products-title') %></h2>
        <div class="link-discover">
          <%= link_to "TOUT DÉCOUVRIR", farms_path, class: "btn btn-discover"  %>
        </div>
      </div>

      <div class="food">
        <%= link_to farms_path(category: "Viande & Volaille") do %>
          <div class="card-category">
            <%= cl_image_tag "catégorie-viande_b4yciv", alt: "Pièce de viande de boeuf et couteau sur une planche en bois", :transformation=>[{:fetch_format=>:auto}] %>
            <p><%= t('.viandes') %></p>
          </div>
        <% end %>

        <%= link_to farms_path(category: "Fruits & Légumes") do %>
          <div class="card-category">
            <%= cl_image_tag "catégorie-légume_hb2jk8", alt: "Carottes oranges et couteau sur une planche en bois", :transformation=>[{:fetch_format=>:auto}] %>
            <p><%= t('.vegetables') %></p>
          </div>
        <% end %>

        <%= link_to farms_path(category: "Vins") do %>
          <div class="card-category">
            <%= cl_image_tag "catégorie-vin_luuigt", alt: "Bouteille et verre de vin rouge, tire-bouchon et raisin blanc", :transformation=>[{:fetch_format=>:auto}] %>
            <p><%= t('.vins') %></p>
          </div>
        <% end %>

        <%= link_to farms_path(labels: "Bio-Suisse") do %>
          <div class="card-category">
            <%= image_tag "categories/bio.jpg", alt: "Panier de légumes bio, tomate, poivrons, salade  persil et radis" %>
            <p><%= t('.bio') %></p>
          </div>
        <% end %>
      </div>

      <div class="owl-carousel owl-theme">
        <div class="item">
          <%= link_to farms_path(category: "Viande & Volaille") do %>
            <div class="card-category">
              <%= cl_image_tag "catégorie-viande_b4yciv", alt: "Pièce de viande de boeuf et couteau sur une planche en bois", :transformation=>[{:fetch_format=>:auto}] %>
              <p><%= t('.viandes') %></p>
            </div>
          <% end %>
        </div>

        <div class="item">
          <%= link_to farms_path(category: "Fruits & Légumes") do %>
            <div class="card-category">
              <%= cl_image_tag "catégorie-légume_hb2jk8", alt: "Carottes oranges et couteau sur une planche en bois", :transformation=>[{:fetch_format=>:auto}] %>
              <p><%= t('.vegetables') %></p>
            </div>
          <% end %>
        </div>

        <div class="item">
          <%= link_to farms_path(category: "Vins") do %>
            <div class="card-category">
              <%= cl_image_tag "catégorie-vin_luuigt", alt: "Bouteille et verre de vin rouge, tire-bouchon et raisin blanc", :transformation=>[{:fetch_format=>:auto}] %>
              <p><%= t('.vins') %></p>
            </div>
          <% end %>
        </div>

        <div class="item">
          <%= link_to "#" do %>
            <div class="card-category">
              <%= image_tag "categories/bio.jpg", alt: "Panier de légumes bio, tomate, poivrons, salade  persil et radis" %>
              <p><%= t('.bio') %></p>
            </div>
          <% end %>
        </div>
      </div>
      <div class="link-discover">
        <%= link_to "TOUT DÉCOUVRIR", farms_path, class: "btn btn-discover-mobile"  %>
      </div>
    </div>
  </div>
  <div class="video">
    <div class="container">
      <h2><%= t('.video-title') %></h2>
      <p><%= t('.video-description') %></p>
      <div class="d-flex">
        <%= image_tag "new-home/question.png", alt: "alttext", class: "img-question" %>
        <iframe src="https://player.vimeo.com/video/708681144?h=dc5a7b0215" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        <%= image_tag "new-home/100.png", alt: "alttext", class: "img-100" %>
      </div>
    </div>
  </div>
  <div class="citation container">
    <div class="citation-title">
      <h2><%= t('.citation-title') %></h2>
      <div class="img-rancon">
        <%= image_tag "new-home/rancon.png", alt: "alttext" %>
      </div>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h3>«<%= t('.citation-24hours') %>.»</h3>
          <div class="img-citations">
            <%= image_tag "new-home/24heures-grey.png", alt: "Logo du journal 24 heures", class: "img-24heures-grey" %>
            <%= image_tag "new-home/terre-nature.png", alt: "Logo du journal Terre et nature", class: "img-terre-nature" %>
            <%= link_to "https://www.24heures.ch/robin-des-fermes-veut-rendre-justice-aux-producteurs-locaux-daliments-729776218303", target: :_blank  do %>
              <%= image_tag "new-home/24heures-color.png", alt: "Logo du journal 24 heures", class: "img-color" %>
            <% end %>
            <%= image_tag "new-home/terre-nature.png", alt: "Logo du journal Terre et nature", class: "img-terre-nature" %>
            <%= image_tag "new-home/24heures-grey.png", alt: "Logo du journal 24 heures", class: "img-24heures-grey" %>
          </div>
        </div>
        <div class="carousel-item">
          <h3>«<%= t('.citation-world') %>.»</h3>
          <div class="img-citations">
            <%= image_tag "new-home/24heures-grey.png", alt: "Logo du journal 24 heures", class: "img-24heures-grey" %>
            <%= image_tag "new-home/terre-nature.png", alt: "Logo du journal Terre et nature", class: "img-terre-nature" %>
            <%= link_to "https://www.terrenature.ch/nos-lecteurs-se-joignent-a-la-ligue-des-justiciers-de-robin-des-fermes/", target: :_blank  do %>
              <%= image_tag "new-home/logo_terrenature.png", alt: "Logo du journal Terre et nature", class: "img-color" %>
            <% end %>
            <%= image_tag "new-home/terre-nature.png", alt: "Logo du journal Terre et nature", class: "img-terre-nature" %>
            <%= image_tag "new-home/24heures-grey.png", alt: "Logo du journal 24 heures", class: "img-24heures-grey" %>
          </div>
        </div>
        <div class="carousel-item">
          <h3>«<%= t('.citation-liberty') %>.»</h3>
          <div class="img-citations">
            <%= image_tag "new-home/24heures-grey.png", alt: "Logo du journal 24 heures", class: "img-24heures-grey" %>
            <%= image_tag "new-home/terre-nature.png", alt: "Logo du journal Terre et nature", class: "img-terre-nature" %>
            <%= link_to "https://www.laliberte.ch/news/magazine/societe/consommateur-cherche-producteur-603882", target: :_blank  do %>
              <%= image_tag "new-home/la-liberte.png", alt: "Logo du journal La Liberté", class: "img-color"%>
            <% end %>
            <%= image_tag "new-home/terre-nature.png", alt: "Logo du journal Terre et nature", class: "img-terre-nature" %>
            <%= image_tag "new-home/24heures-grey.png", alt: "Logo du journal 24 heures", class: "img-24heures-grey" %>
          </div>
        </div>
        <div class="carousel-item">
          <h3>«<%= t('.citation-courrier') %>.»</h3>
          <div class="img-citations">
            <%= image_tag "new-home/24heures-grey.png", alt: "Logo du journal 24 heures", class: "img-24heures-grey" %>
            <%= image_tag "new-home/terre-nature.png", alt: "Logo du journal Terre et nature", class: "img-terre-nature" %>
            <%= link_to "https://www.le-courrier.ch/jorat-%E2%80%89robin-des-fermes%E2%80%89-decoche-de-son-carquois-les-outils-digitaux/", target: :_blank  do %>
              <%= image_tag "new-home/le-courrier.png", alt: "Logo du journal le courrier", class: "img-courrier" %>
            <% end %>
            <%= image_tag "new-home/terre-nature.png", alt: "Logo du journal Terre et nature", class: "img-terre-nature" %>
            <%= image_tag "new-home/24heures-grey.png", alt: "Logo du journal 24 heures", class: "img-24heures-grey" %>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="join">
    <div class="companion">
      <div class="container companion-image-text">
        <%= cl_image_tag "ferme-chalabruz-rejoints-le-mouvement_fqwroo",
              alt: "Jeune productrice et producteur de légumes avec leur deux enfants dans le canton de Vaud",
              class: "img-companion", :transformation=>[{:fetch_format=>:auto}]
        %>
        <div class="companion-text">
          <h2><%= t('.join-companions-title') %></h2>
          <p><%= t('.join-companions-description') %></p>
          <p><%= t('.join-companions-description2') %></p>
          <p class="green-sentence"><strong><%= t('.join-companions-description-green') %></strong></p>
          <p><%= t('.join-companions-description-last') %></p>
          <%= link_to "ÇA M'INTRIGUE VOTRE TRUC", "https://info.robindesfermes.ch/compagnon/", class: "btn join-btn join-companion join-companion-mobile" %>
          <%= link_to "ÇA M'INTRIGUE VOTRE COMBINE", "https://info.robindesfermes.ch/compagnon/", class: "btn join-btn join-companion join-companion-desktop" %>
        </div>
      </div>
    </div>
    <%= image_tag "new-home/vector-white.png", alt: "alttext", class: "img-vector" %>
    <div class="producers">
      <div class="container producers-image-text">
        <div class="producers-text">
          <%= image_tag "new-home/shape.png", alt: "alttext", class: "shape-img" %>
          <div class="shape-mobile-img">
            <%= image_tag "new-home/shape-mobile.png", alt: "alttext", class: "" %>
          </div>
          <h2><%= t('.join-producers-title') %></h2>
          <p><%= t('.join-producers-description') %> <strong><%= t('.join-producers-description-strong') %></strong> <%= t('.join-producers-description-last') %></p>
          <%= link_to "ÇA M'INTERESSE", producer_path, class: "btn join-btn join-producer" %>
        </div>
        <div class="img-mobile-desktop">
          <div class="heart-img">
            <%= image_tag "new-home/heart.png", alt: "alttext", class: "" %>
          </div>
          <%= cl_image_tag "grille-producteur_ulrubo", alt: "Triptyque de producteur et productrice. Un vigneron, un maraicher et un éleveur de boeuf",
                class: "producers-img", :transformation=>[{:fetch_format=>:auto}]
          %>
        </div>
      </div>
    </div>

  </div>

  <div class="testimonials">
    <div class="container">
      <h2><%= t('.testimony_title') %></h2>
      <div id="carouselTestimonials" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselTestimonials" data-slide-to="0" class="active"></li>
          <li data-target="#carouselTestimonials" data-slide-to="1"></li>
          <li data-target="#carouselTestimonials" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="testimonials-informations">
              <%= image_tag "new-home/stars.png", alt: "alttext", class: "stars-img" %>
              <p class="testimony-text"> <%= t('.testimony1') %></p>
              <%= image_tag "testimony/pierre-carroz.png", alt: "Pierre Carroz, client de Robin des Fermes", class: "profil-img" %>
              <p class="name">Pierre Carroz</p>
              <p class="text"><%= t('.testimony_text1') %></p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="testimonials-informations">
              <%= image_tag "new-home/stars.png", alt: "alttext", class: "stars-img" %>
              <p class="testimony-text"> <%= t('.testimony2') %></p>
              <%= image_tag "testimony/testimony2.png", alt: "Diane Baud, cliente de Robin des Fermes", class: "profil-img" %>
              <p class="name">Diane Baud</p>
              <p class="text"><%= t('.testimony_text2') %></p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="testimonials-informations">
              <%= image_tag "new-home/stars.png", alt: "alttext", class: "stars-img" %>
              <p class="testimony-text"> <%= t('.testimony3') %></p>
              <%= image_tag "testimony/testimony3.png", alt: "Francis Joye, client de Robin des fermes", class: "profil-img" %>
              <p class="name">Francis Joye</p>
              <p class="text"><%= t('.testimony_text3') %></p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselTestimonials" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselTestimonials" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <div class="typeform">
    <%= cl_image_tag "robin-newsletter_tlsfpt", alt: "alttext" %>
    <!-- Begin Mailchimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:600px;}
      /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
      <form action="https://robindesfermes.us7.list-manage.com/subscribe/post?u=8f2a2b30c3a25d951209e6d2e&amp;id=bac2f876bf" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <h3><%= t('.mailchimp-title') %></h3>
          <h3><%= t('.mailchimp-subtitle') %></h3>
          <p><%= t('.mailchimp-text') %></p>
          <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
          <div class="input-mailchimp">
            <div class="mc-field-group">
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="<%= t('.mailchimp-placeholder') %>">
            </div>
            <div hidden="true"><input type="hidden" name="tags" value="3498553,6602768"></div>
                <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8f2a2b30c3a25d951209e6d2e_bac2f876bf" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="<%= t('.mailchimp-btn') %>" name="subscribe" id="mc-embedded-subscribe" class="button button-desktop"></div>
            <div class="clear"><input type="submit" value="<%= t('.mailchimp-btn') %>" name="subscribe" id="mc-embedded-subscribe" class="button button-mobile"></div>
          </div>
        </div>
      </form>
    </div>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[2]='MMERGE2';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='text'; /*
     * Translated default messages for the $ validation plugin.
     * Locale: FR
     */
    $.extend($.validator.messages, {
            success: "Votre email est enregistré",
            required: "Ce champ est requis.",
            remote: "Veuillez remplir ce champ pour continuer.",
            email: "Veuillez entrer une adresse email valide.",
            url: "Veuillez entrer une URL valide.",
            date: "Veuillez entrer une date valide.",
            dateISO: "Veuillez entrer une date valide (ISO).",
            number: "Veuillez entrer un nombre valide.",
            digits: "Veuillez entrer (seulement) une valeur numérique.",
            creditcard: "Veuillez entrer un numéro de carte de crédit valide.",
            equalTo: "Veuillez entrer une nouvelle fois la même valeur.",
            accept: "Veuillez entrer une valeur avec une extension valide.",
            maxlength: $.validator.format("Veuillez ne pas entrer plus de {0} caractères."),
            minlength: $.validator.format("Veuillez entrer au moins {0} caractères."),
            rangelength: $.validator.format("Veuillez entrer entre {0} et {1} caractères."),
            range: $.validator.format("Veuillez entrer une valeur entre {0} et {1}."),
            max: $.validator.format("Veuillez entrer une valeur inférieure ou égale à {0}."),
            min: $.validator.format("Veuillez entrer une valeur supérieure ou égale à {0}.")
    });}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    <!--End mc_embed_signup-->
  </div>
</div>
<div id="pageInfos" data-submit-form="true"></div>
<%= render "shared/upviral" %>
