<div class="home">
  <div class="banner" >
    <div class="container ">
<<<<<<< HEAD
      <h2><%= t('.title') %></h2>
      <p><%= t('.sub_title') %></p>
      <%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'form-inline search' } do |f| %>
        <%= f.input :name, label: false, placeholder: t('.search_placeholder'), class: 'search-bar'%>
        <%= f.submit t('.search_btn'), class: "btn" %>
=======
      <h2>La vente directe, droit dans le mille</h2>
      <p>Trouve le produit ou l'exploitation de ton choix, commande en quelques clics, paie en ligne et déguste ta victoire : quand c'est juste, c'est encore meilleur!</p>
      <%= form_tag farms_path, method: :get, id: "farm-search-form", class: 'form-inline search' do %>
        <%= text_field_tag :zip, get_zip_code_number, readonly: true, class: 'form-control search', id: "zip_code_input", placeholder: "Où habitez-vous ?" %>
        <%= submit_tag "RECHERCHER", class: "btn", name: nil %>
>>>>>>> develop
      <% end %>

    </div>
  </div>

  <div class="vector">

  </div>

  <div class="home-category">

    <h2><%= t('.products') %></h2>

    <div class="food">
      <%= link_to farms_path(category: "Viande & Volaille"), class: "navbar-brand" do %>
        <%= image_tag "categories/meat.png", alt: "Viande" %>
        <p><%= t('.viandes') %></p>
      <% end %>
      <%= link_to farms_path(category: "Poisson"), class: "navbar-brand" do %>
        <%= image_tag "categories/fish.png", alt: "Poisson" %>
        <p><%= t('.poissons') %></p>
      <% end %>
      <%= link_to farms_path(category: "Produits Laitiers"), class: "navbar-brand" do %>
        <%= image_tag "categories/milk.png", alt: "Lait" %>
        <p><%= t('.laitiers') %></p>
      <% end %>
    </div>

    <div class="low-vector"></div>

  </div>


  <div class="home-farms">
    <h2><%= t('.farms') %></h2>
    <div >

      <div class="row">
        <div class="col col-lg-6 ">

          <div class="first-photo">

            <div>
              <%= link_to farm_path(@highlighted_farm) do %>
                <%= cl_image_tag(@highlighted_farm.photos.first.key, height: 474, width: 570, crop: :fill)  %>
              <% end %>
            </div>


            <div class = "name">
            <p><%= @farms.first.name %></p>

            </div>

          </div>
        </div>

        <div class="col col-lg-6">

          <div class="all-photo">
            <% @other_farms.each do |farm|  %>

              <div class = "photo">

                  <%= link_to farm_path(farm) do %>
                    <%= cl_image_tag(farm.photos.first.key, height: 222, width: 270, crop: :fill )%>
                  <% end %>
                <p><%= farm.name %></p>

              </div>
            <% end %>

          </div>

    </div>

      </div>
    </div>


  </div>

  <div class="vector"></div>

  <div class="rdf-presentation">
    <h2><%= t('.presentations_title') %> </h2>

    <div class = "row">

      <div>
        <%= image_tag "home/sell.png", alt: "alttext" %>
        <p><%= t('.sell') %></p>
      </div>

      <div>
        <%= image_tag "home/presentation.png", alt: "alttext" %>
        <p><%= t('.presentation') %></p>
      </div>

      <div>
        <%= image_tag "home/community.png", alt: "alttext" %>
        <p><%= t('.community') %></p>
      </div>

    </div>

  </div>

</div>

<div class="footer row">
  <%= image_tag "logos/rdf_light_pink.png" %>

  <div class="information">

    <div class="row ">

      <div >
        <p class= "title">Informations</p>
        <p>Livraison</p>
        <p>Mode de paiement</p>
        <p><%= link_to "FAQ", "#"  %></p>
        <p><%= link_to "CGV", "#"  %></p>

      </div>

      <div>
        <br>
        <br>
        <p>A propos</p>
        <p>Contact</p>
        <p>Livraison</p>
        <p>Liste des producteurs</p>

      </div>

    </div>

  </div>


  <div class="contact">
    <p class= "title">Contactez-nous</p>
    <p>info@robindesfermes.ch</p>
    <p>021 000 00 00</p>

  </div>

  <div class="link">
    <p class= "title">Retrouvez-nous</p>
    <div class="footer-links">
      <a href="https://www.facebook.com/robindesfermes.ch/"><i class="fab fa-facebook"></i></a>
      <a href="https://www.instagram.com/robin_des_fermes/"><i class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/company/robin-des-fermes/"><i class="fab fa-linkedin"></i></a>
    </div>

  </div>

</div>