<div class="home">
  <div class="banner d-flex" >
    <%= image_tag "new-home/big-ellipse.png", alt: "alttext", class: 'ellipse-small' %>
    <%= image_tag "new-home/small-ellipse.png", alt: "alttext", class: 'ellipse-big' %>
    <div class="banner-content">
      <div class="text-banner">
        <h1><%= t('.title1') %> <span class="strikethrough"><%= t('.title-strike') %></span> <%= t('.title2') %></h1>
        <p><%= t('.sub_title1') %> <strong><%= t('.sub_title_bold1') %></strong><%= t('.sub_title2') %></p>
        <%= form_tag farms_path, method: :get, class: 'form-inline search' do %>
          <%= text_field_tag :zip, get_zip_code_number, readonly: true, class: 'form-control search zip_code_input', id: 'zip1', placeholder: "Où habites-tu ?" %>
          <%= submit_tag "DÉCOUVRIR LES PRODUCTEURS", class: "btn btn-computer", name: nil %>
          <%= submit_tag "DÉCOUVRIR", class: "btn btn-mobile", name: nil %>
          <%= submit_tag "TOUT DÉCOUVRIR", class: "btn btn-small-mobile", name: nil %>
        <% end %>
      </div>

      <%= image_tag "new-home/banner-images", alt: "alttext", class: 'img-banner' %>
    </div>
  </div>
  <div class="waves">
    <h3><%= t('.sale') %></h3>
  </div>
  <div class="direct-sale">
    <p class="work-question"><%= t('.work?') %></p>
    <div class="path">
      <div class="path-marker path-picto">
        <%= image_tag "new-home/icon-marker", alt: "alttext", width: 100, class: "img-marker" %>
        <h3><%= t('.title-marker') %> </h3>
        <p><%= t('.text-marker') %> <strong><%= t('.text-marker-strong') %></strong> <%= t('.text-marker-last') %></p>
      </div>
      <%= image_tag "new-home/grey-line.png", alt: "alttext", class: "grey-line" %>
      <div class="path-hand path-picto">
        <%= image_tag "new-home/icon-hand", alt: "alttext", width: 100, class: "img-hand" %>
        <h3><%= t('.title-hand') %></h3>
        <p><%= t('.text-hand') %> <strong><%= t('.text-hand-strong') %></strong> <%= t('.text-hand-last') %></p>
      </div>
      <%= image_tag "new-home/grey-line.png", alt: "alttext", class: "grey-line" %>
      <div class="path-farmer path-picto">
        <%= image_tag "new-home/icon-farmer", alt: "alttext", width: 100, class: "img-farmer"  %>
        <h3><%= t('.title-farmer') %></h3>
        <p><%= t('.text-farmer') %> <strong><%= t('.text-farmer-strong') %></strong></p>
      </div>
      <%= image_tag "new-home/grey-line.png", alt: "alttext", class: "grey-line" %>
      <div class="path-eat path-picto">
        <%= image_tag "new-home/icon-eat", alt: "alttext", width: 100, class: "img-eat" %>
        <h3><%= t('.title-eat') %></h3>
        <p><%= t('.text-eat') %> <strong><%= t('.text-eat-strong') %></strong></p>
      </div>
      <%= image_tag "new-home/grey-line.png", alt: "alttext", class: "grey-line" %>
      <div class="path-return path-picto">
        <%= image_tag "new-home/icon-return", alt: "alttext", width: 100, class: "img-return" %>
        <h3><%= t('.title-return') %></h3>
        <p><%= t('.text-return') %> <strong><%= t('.text-return-strong') %></strong> <%= t('.text-return-last') %></p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="home-category">
      <div class="food d-flex">
        <div class="two-products">
          <div>
            <%= link_to farms_path(category: "Viande & Volaille"), class: "navbar-brand" do %>
              <div class="image-categorie">
                <%= image_tag "categories/meat.jpg", alt: "Viande" %>
              </div>
              <h3><%= t('.viandes') %></h3>
              <p><%= t('.paragraph_meat') %> </p>
              <div class="line d-flex">
                <%= image_tag "categories/line.png", alt: "line" %>
                <p><%= t('.discover_meat') %> </p>
              </div>
            <% end %>
          </div>
          <div>
            <%= link_to farms_path(category: "Fruits & Légumes"), class: "navbar-brand" do %>
              <div class="image-categorie">
                <%= image_tag "categories/vegetables.jpg", alt: "Lait" %>
              </div>
              <h3><%= t('.vegetables') %></h3>
              <p><%= t('.paragraph_vegetables') %> </p>
              <div class="line d-flex">
                <%= image_tag "categories/line.png", alt: "line" %>
                <p><%= t('.discover_vegetables') %> </p>
              </div>
            <% end %>
          </div>
        </div>
        <div>
          <h2><%= t('.products') %></h2>
          <div>
            <%= link_to farms_path(category: "Vins"), class: "navbar-brand" do %>
              <div class="image-categorie">
                <%= image_tag "categories/wine.jpg", alt: "Vin" %>
              </div>
              <h3><%= t('.vins') %></h3>
              <p><%= t('.paragraph_wine') %> </p>
              <div class="line d-flex">
                <%= image_tag "categories/line.png", alt: "line" %>
                <p><%= t('.discover_wine') %> </p>
              </div>
            <% end %>
          </div>
          <h2><%= t '.second_zip_code_input_title' %></h2>
          <p><%= t '.second_zip_code_input_description' %></p>
          <%= form_tag farms_path, method: :get, class: 'form-inline search' do %>
            <%= text_field_tag :zip, get_zip_code_number, readonly: true, class: 'form-control zip-search zip_code_input', placeholder: t('pages.home.search_placeholder') %>
            <%= submit_tag t(".second_zip_code_input_button"), class: "btn zip-button", name: nil %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="rdf-presentation">
      <h2><%= t('.title_rdf') %></h2>
      <div class="d-flex cards-rdf">
        <div class="card-rdf">
          <%= image_tag "home/find.png", alt: "rdf" %>
          <h3><%= t('.find') %></h3>
          <p><%= t('.find_paragraph') %></p>
        </div>
        <div class="card-rdf">
          <%= image_tag "home/ordered.png", alt: "rdf" %>
          <h3><%= t('.ordered') %></h3>
          <p><%= t('.ordered_paragraph') %></p>
        </div>
        <div class="card-rdf">
          <%= image_tag "home/victory.png", alt: "rdf" %>
          <h3><%= t('.taste') %></h3>
          <p><%= t('.taste_paragraph') %></p>
        </div>
      </div>
      <%= link_to t(".know_more"), about_path, class: "btn"%>
    </div>
  </div>
  <div class="container justify-content-center">
    <div class="companion-block">
      <span>Profite de réductions sur la distribution régionale,<br>
deviens compagnon·e Robin des Fermes</span>
    <a class="btn btn-white btn-light" href="https://info.robindesfermes.ch/compagnon/" target="_blank">EN SAVOIR PLUS</a>
    </div>
  </div>
  <div class="best-farms">
    <div class="container">
      <h2><%= t('.best_farms') %></h2>
      <div class="cards ">
        <% @farms.active.take(4).each do |farm| %>
          <%= link_to farm_path(farm) do  %>
            <div class="card-product d-flex">
              <div class="photo-farm">
                <div class="labels">
                  <% farm.labels.each do |label| %>
                    <div class='label'>
                      <p> <%= label.upcase  %></p>
                    </div>
                  <%end%>
                </div>
                <%= cl_image_tag(farm.farm_profil_picture&.key, crop: :fill, class: "photo") if farm.farm_profil_picture %>
              </div>
              <div class="cards-informations">
                <div class="d-flex address">
                  <%= image_tag "icons/marker_cards_farms.png", class: "marker" %>
                  <p><%= farm.zip_code.upcase  %> <%= farm.city.upcase  %></p>
                </div>
                <div class="name d-flex">
                  <h3> <%= farm.name  %></h3>
                </div>
                <p class="openning"><%= t('.openning', openning: farm.opening_time) %></p>
                <p class="products-number"><%= farm.products.available.count  %>
                  <% if farm.products.available.count == 1 %>
                    <%= t('.one_product') %>
                  <% else %>
                    <%= t('.products_number') %>
                  <% end %>
                </p>
                <div class="all-photos d-flex">
                  <% farm.categories.each_with_index do |category, index| %>
                    <div class='category-photo' data-toggle="tooltip" data-placement="top" title="<%= category.name  %>"><%= cl_image_tag category.photo.key %></div>
                  <% end %>
                </div>
                <div class="categories"></div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="testimonials">
      <h2><%= t('.testimony_title') %></h2>
      <div class="all-testimonials d-flex">
        <div class="testimony">
          <%= image_tag "home/slice.png", alt: "alttext" %>
          <div class="testimonials-informations">
            <h6> <%= t('.testimony1') %></h6>
            <%= image_tag "testimony/pierre-carroz.png", alt: "alttext" %>
            <p class="name">Pierre Carroz</p>
            <p class="text"><%= t('.testimony_text1') %></p>
          </div>
        </div>
        <div class="testimony">
          <%= image_tag "home/slice.png", alt: "alttext" %>
          <div class="testimonials-informations">
            <h6> <%= t('.testimony2') %></h6>
            <%= image_tag "testimony/testimony2.jpg", alt: "alttext" %>
            <p class="name">Diane Baud</p>
            <p class="text"><%= t('.testimony_text2') %></p>
          </div>
        </div>
        <div class="testimony">
          <%= image_tag "home/slice.png", alt: "alttext" %>
          <div class="testimonials-informations">
            <h6> <%= t('.testimony3') %></h6>
            <%= image_tag "testimony/testimony3.jpg", alt: "alttext" %>
            <p class="name">Francis Joye</p>
            <p class="text"><%= t('.testimony_text3') %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="registration">
    <div class="container">
      <div class="text">
        <h2><%= t('.registration') %></h2>
        <h6><%= t('.registration_text') %></h6>
        <%= link_to t('.registration_btn') , "https://form.typeform.com/to/Y2rBljOl", class: "btn" %>
      </div>
    </div>
  </div>
</div>
<div id="pageInfos" data-submit-form="true"></div>
