<div class="impressum">
  <div class="container">
    <h1><%= t('.impressum') %></h1>
    <h2><%= t('.address_title') %></h2>
    <h6><%= t('.rdf') %></h6>
    <h6><%= t('.address') %></h6>
    <h6><%= t('.zip_code') %></h6>

    <h2><%= t('.contact') %></h2>
    <h6><%= t('.mail') %></h6>
    <h6><%= t('.phone') %></h6>

    <h2><%= t('.credit') %></h2>

    <div class="d-flex">
      <h6><%= t('.writing') %></h6>
      <h6 class="name"><%= t('.annick') %></h6>
    </div>
  </div>
</div>
