<div class="partners">
  <div class="container">

    <h1><%= t('.partners') %></h1>

    <div class="d-flex all-partners">

      <div class="partner blanc">
        <%= link_to "https://blanc-sa.ch/", target: :_blank do %>
          <%= image_tag "partners/blanc.png", alt: "Blanc & Cie SA" %>
          <h5>Blanc & Cie SA</h5>
        <% end %>
        <h6><%= t('.blanc') %></h6>
      </div>

      <div class="partner">
        <%= link_to "https://yeswefarm.ch/", target: :_blank do %>
          <%= image_tag "partners/yes-we-farm.png", alt: "Yes We Farm" %>
          <h5>Yes We Farm</h5>
        <% end %>
        <h6><%= t('.yes_we_farm') %></h6>
      </div>

      <div class="partner">
        <%= link_to "https://www.liaudet-pial.ch/", target: :_blank do %>
          <%= image_tag "partners/liaudet-pial.png", alt: "Liaudet Pial" %>
          <h5>Liaudet Pial</h5>
        <% end %>
        <h6><%= t('.liaudet_pial') %></h6>
      </div>

      <div class="partner">
        <%= link_to "https://anickgoumaz.com/", target: :_blank do %>
          <%= image_tag "partners/anick-goumaz.png", alt: "Anick Goumaz" %>
          <h5>Anick Goumaz</h5>
        <% end %>
        <h6><%= t('.anick_goumaz') %></h6>
      </div>

      <div class="partner">
        <%= link_to "https://joratcoworking.ch/", target: :_blank do %>
          <%= image_tag "partners/jorat-coworking.png", alt: "Jorat Coworking" %>
          <h5>Jorat Coworking</h5>
        <% end %>
        <h6><%= t('.jorat_coworking') %></h6>
      </div>

      <div class="partner">
        <%= link_to "https://www.lausanneregion.ch/", target: :_blank do %>
          <%= image_tag "partners/lausanne-region.png", alt: "Lausanne Région" %>
          <h5>Lausanne Région</h5>
        <% end %>
        <h6><%= t('.lausanne_region') %></h6>
      </div>

      <div class="partner">
        <%= link_to "https://www.sonnay-charpente-romandie.ch/", target: :_blank do %>
          <%= image_tag "partners/sonnay-charpente.png", alt: "Sonnay Charpente" %>
          <h5>Sonnay Charpente</h5>
        <% end %>
        <h6><%= t('.sonnay_charpente') %></h6>
      </div>

      <div class="partner">
        <%= link_to "https://www.mobiliere.ch/", target: :_blank do %>
          <%= image_tag "partners/mobiliere.png", alt: "La Mobilière" %>
          <h5>La Mobilière</h5>
        <% end %>
        <h6><%= t('.mobiliere') %></h6>
      </div>

      <div class="partner">
        <%= link_to "https://www.romande-energie.ch/", target: :_blank do %>
          <%= image_tag "partners/romande-energie.png", alt: "Romande Energie" %>
          <h5>Romande Energie</h5>
        <% end %>
        <h6><%= t('.romande-energie') %></h6>
      </div>

      <div class="partner partner-eve-senn">
        <%= link_to "https://www.evesenn.ch/", target: :_blank do %>
          <%= image_tag "partners/eve-senn.png", alt: "Eve Senn" %>
          <h5>Eve Senn</h5>
        <% end %>
        <h6><%= t('.eve-senn') %></h6>
      </div>

      <div class="partner">
        <%= link_to "http://www.danielruch.ch/", target: :_blank do %>
          <%= image_tag "partners/ruch-sa.png", alt: "Ruch SA" %>
          <h5>Entreprise forestière Daniel Ruch SA</h5>
        <% end %>
        <h6><%= t('.ruch-sa') %></h6>
      </div>

    </div>
  </div>
</div>
