<div class="partners">
  <div class="container">

    <h1><%= t('.partners') %></h1>

    <div class="d-flex all-partners">

      <div class="partner">
        <%= image_tag "partners/blanc.png", alt: "Blanc & Cie SA" %>
        <h5>Blanc & Cie SA</h5>
        <h6><%= t('.blanc') %></h6>
      </div>

      <div class="partner">
        <%= image_tag "partners/yes-we-farm.png", alt: "Yes We Farm" %>
        <h5>Yes We Farm</h5>
        <h6><%= t('.yes_we_farm') %></h6>
      </div>

      <div class="partner">
        <%= image_tag "partners/liaudet-pial.png", alt: "Liaudet Pial" %>
        <h5>Liaudet Pial</h5>
        <h6><%= t('.liaudet_pial') %></h6>
      </div>

      <div class="partner">
        <%= image_tag "partners/anick-goumaz.png", alt: "Anick Goumaz" %>
        <h5>Anick Goumaz</h5>
        <h6><%= t('.anick_goumaz') %></h6>
      </div>

      <div class="partner">
        <%= image_tag "partners/jorat-coworking.png", alt: "Jorat Coworking" %>
        <h5>Jorat Coworking</h5>
        <h6><%= t('.jorat_coworking') %></h6>
      </div>

      <div class="partner">
        <%= image_tag "partners/lausanne-region.png", alt: "Lausanne Région" %>
        <h5>Lausanne Région</h5>
        <h6><%= t('.lausanne_region') %></h6>
      </div>

      <div class="partner">
        <%= image_tag "partners/sonnay-charpente.png", alt: "Sonnay Charpente" %>
        <h5>Sonnay Charpente</h5>
        <h6><%= t('.sonnay_charpente') %></h6>
      </div>

    </div>
  </div>
</div>
