<div class="team">
  <div class="container ">
    <h1><%= t('.team') %></h1>
    <h6 class="team-description"><%= t('.team_description') %></h6>

    <div class="d-flex all-presentations">

      <div class="presentation">
        <%= image_tag "team/tanguy.png", alt: "Tanguy" %>
        <p class="name">Tanguy Ecoffey</p>
        <p class="work"><%= t('.tanguy_work') %></p>
        <h6><%= t('.tanguy_description') %></h6>
      </div>

      <div class="presentation">
        <%= image_tag "team/jerome.png", alt: "Jérôme" %>
        <p class="name">Jérôme Clot</p>
        <p class="work"><%= t('.jerome_work') %></p>
        <h6><%= t('.jerome_description') %></h6>
      </div>

      <div class="presentation">
        <%= image_tag "team/francois.png", alt: "François" %>
        <p class="name">François Savary</p>
        <p class="work"><%= t('.francois_work') %></p>
        <h6><%= t('.francois_description') %></h6>
      </div>

      <div class="presentation">
        <%= image_tag "team/alex.png", alt: "Lisette" %>
        <p class="name">Alex Fracheboud</p>
        <p class="work"><%= t('.lisette_work') %></p>
        <h6><%= t('.lisette_description') %></h6>
      </div>

      <div class="presentation">
        <%= image_tag "team/sonia.png", alt: "Sonia" %>
        <p class="name">Sonia Horisberger</p>
        <p class="work"><%= t('.sonia_work') %></p>
        <h6><%= t('.sonia_description') %></h6>
      </div>

      <div class="presentation">
        <%= image_tag "team/jennifer.png", alt: "Jennifer" %>
        <p class="name">Jennifer Héritier</p>
        <p class="work"><%= t('.jennifer_work') %></p>
        <h6><%= t('.jennifer_description') %></h6>
      </div>

      <div class="presentation">
        <%= image_tag "team/michael.png", alt: "Michaël" %>
        <p class="name">Michaël Dusong</p>
        <p class="work"><%= t('.michael_work') %></p>
        <h6><%= t('.michael_description') %></h6>
      </div>

      <div class="presentation">
        <%= image_tag "team/ophelie.png", alt: "Ophélie" %>
        <p class="name">Ophélie Baur</p>
        <p class="work"><%= t('.ophelie_work') %></p>
        <h6><%= t('.ophelie_description') %></h6>
      </div>
    </div>
  </div>
</div>
