<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <%= render "shared/mailer/styling" %>
  </head>
  <body>
    <%= render "shared/mailer/header" %>
    <p class="content">
      Salut <%= @user.first_name %>,<br>
      <br>
      Ta commande n°<%= @order.id %> a été expédiée, tu la recevras par <%= @order.shipping_choice_name %>.<br>
      <br>
      La bande de Robin des Fermes<br>
      <br>
    </p>
    <br>
    <%= render "shared/mailer/footer" %>
  </body>
</html>
