<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@500;700&display=swap" rel="stylesheet">

  </head>
  <body>
    <%= render "shared/mailer/header" %>
    <div class="content">
      Salut <%= @owner.first_name %>,

      Nous te rappelons que le délai de la commande  n°<%= @order.id %> arrive le
      <%= I18n.l((@order.waiting_for_shipping_at + @order.farm.delivery_delay.days), format: "%d/%m/%y", locale: :'fr') %>. Voici un récapitulatif de la commande.

      Date de la commande: <%= @order.waiting_for_shipping_at.strftime('%d/%m/%y') %>
      Mode de livraison: <%= @order.shipping_choice_name %>
      Date de livraison estimée: <%= I18n.l((@order.waiting_for_shipping_at + @order.farm.delivery_delay.days), format: "%d/%m/%y", locale: :'fr') %>

      Destinataire:
      <%= @user.first_name %> <%= @user.last_name %>
      <%= @user.address_line_1 %>
      <%= @user.zip_code %> <%= @user.city %>

      Contenu de la commande:
      <% @order.order_line_items.each do |item| %>
        <%= item.quantity %> - <%= item.product.name %> - <%= item.product.price %><%= item.product.price_currency %> - <%= item.total_price %><%= item.total_price_currency %>
      <% end %>

      TOTAL <%= @order.price %><%= @order.price_currency %>

      Merci de cliquer sur le bouton ci-dessous quand la commande a été expédiée.

      <%= form_tag set_as_shipped_orders_mails_confirm_shipped_url, method: :post do %>
        <%= hidden_field_tag :order_token, @order.confirm_shipped_token %>
        <%= submit_tag "Confirmer l'envoie", :formtarget => "_blank" %>
      <% end %>

      Vaillantes salutations,

      La bande de Robin des Fermes

    </div>

    <%= render "shared/mailer/footer" %>
  </body>
</html>
