<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <%= render "shared/mailer/styling" %>
  </head>
  <body>
    <%= render "shared/mailer/header" %>
    <div class="content">
      Salut <%= @owner.first_name %>,<br>
      <br>
      Félicitations pour la commande n°<%= @order.id %>, cette dernière devra être livrée<br>
      <%= I18n.l(@order.delivery_date(@user.zip_code), format: "%d/%m/%y", locale: :'fr') %> par <%= @order.shipping_choice_name %>.<br>
      <br>
      Date de la commande: <%= Date.current.strftime('%d/%m/%y') %><br>
      Mode de livraison: <%= @order.shipping_choice_name %><br>
      <% if @order.express_shipping %>
        Office de distribution: <%= @order.get_correct_farm_office(current_user.zip_code).office.name %><br>
      <% end %>
      Date de livraison estimée: <%= I18n.l(@order.delivery_date(@user.zip_code), format: "%d/%m/%y", locale: :'fr') %><br>
      <br>
      Destinataire:<br>
      <%= @user.first_name %> <%= @user.last_name %><br>
      <%= @user.address_line_1 %><br>
      <%= @user.zip_code %> <%= @user.city %><br>
      <br>
      Contenu de la commande:<br>
      <% @order.order_line_items.each do |item| %>
        <%= item.quantity %> - <%= item.product.name %> - <%= item.product.price %><%= item.product.price_currency %> - <%= item.total_price %><%= item.total_price_currency %>
        <br>
      <% end %>
      <br>
      TOTAL <%= @order.price %><%= @order.price_currency %><br>
      <br>
      Merci de cliquer sur le bouton ci-dessous quand la commande a été envoyée.<br>
      <br>
      <br><%= link_to "Confirmer l'envoi", set_as_shipped_orders_mails_confirm_shipped_url(order_token: @order.confirm_shipped_token), id: "confirm-sent", target: :_blank %><br><br>
      <br>
      Encore bravo pour cette commande!<br>
      <br>
      Vaillantes salutations,<br>
      <br>
      La bande de Robin des Fermes<br>
      <br>
    </div>
    <br>
    <%= render "shared/mailer/footer" %>
  </body>
</html>
