<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@500;700&display=swap" rel="stylesheet">

  </head>
  <body>
    <%= render "shared/mailer/header" %>
    <p class="content">
      Salut <%= @user.first_name %>,

      Ta commande n°<%= @order.id %> a été expédiée, tu la recevras par <%= @order.shipping_choice_name %>.

      La bande de Robin des Fermes

    </p>

    <%= render "shared/mailer/footer" %>
  </body>
</html>
