<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <%= render "shared/mailer/styling" %>
  </head>
  <body>
    <%= render "shared/mailer/header" %>
    <p class="content">
      Salut compagnon <%= @user.first_name %>,<br>
      <br>
      Nous te remercions pour ta commande n° <%= @order.id %>. Tu trouveras ci-dessous un récapitulatif de celle-ci.<br>
      <br>
      Ta commande chez <%= @order.farm.name %>.<br>
      <br>
      Date de la commande: <%= Date.current.strftime('%d/%m/%y') %><br>
      Mode de livraison: Retrait chez le producteur<br>
      Date de retrait estimée: <%= I18n.l((Date.current + @order.farm.delivery_delay.days), format: "%d/%m/%y", locale: :'fr') %><br>
      <br>
      Tu recevras un mail qui t’avertira lorsque tu pourras retirer ta commande auprès de <%= @order.farm.name %>.<br>
      <br>
      Contenu de la commande:<br>
      <% @order.order_line_items.each do |item| %>
        <%= item.quantity %> - <%= item.product.name %> - <%= item.product.price %><%= item.product.price_currency %> - <%= item.total_price %><%= item.total_price_currency %><br>
      <% end %>
      <br>
      TOTAL <%= @order.price %><%= @order.price_currency %><br>
      <br>
      Nous te remercions d’avoir passé commande sur Robin des Fermes.<br>
      <br>
      Vaillantes salutations,<br>
      <br>
      La bande de Robin des Fermes<br>
      <br>
    </p>
    <br>
    <%= render "shared/mailer/footer" %>
  </body>
</html>
