<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <%= render "shared/mailer/styling" %>
  </head>
  <body>
    <%= render "shared/mailer/header" %>
    <p class="content">
      Salut <%= @user.first_name %>,<br>
      <br>
      Ta commande n°<%= @order.id %> est prête et peut être retirée auprès de <%= @order.farm.name %>.<br>
      <br>
      Tu peux la retirer à cette adresse:<br>
      <%= @order.farm.address %><br>
      <%= @order.farm.zip_code %> <%= @order.farm.city %><br>
      <br>
      Aux horaires suivant:<br>
      <%= @order.farm.opening_time %><br>
      <br>
      La bande de Robin des Fermes<br>
      <br>
    </p>
    <br>
    <%= render "shared/mailer/footer" %>
  </body>
</html>
