<p><%= (I18n.t 'hello').capitalize %> <%= @resource.email %>!</p>

<p><%= I18n.t 'email.password_reset.intro' %></p>

<p><%= link_to I18n.t('email.password_reset.button'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= I18n.t 'email.password_reset.footer' %></p>
