<div class="container">
  <div class="product">

    <div class="d-flex">

      <div class="photo">
        <h2><%= t('.name', name: @product.name) %> </h2>
        <%= cl_image_tag @product.photo.key, height: 370, width: 370, crop: :fill, style: "border-radius: 8px 8px 8px 8px" %>
      </div>

      <div class="informations">

        <div class = "d-flex">
          <%= link_to "-", "#", class: "btn btn-number"%>

          <div class="number">
            <span>0</span>
          </div>

          <%= link_to "+", "#", class: "btn btn-number" %>

        </div>

        <div class="d-flex one-information">
          <h6><%= t('.description') %></h6><p><%= t('.product', description: @product.description) %> </p>
        </div>

        <div class="d-flex one-information">
          <h6><%= t('.ingredient') %></h6><p> <%= t('.product_ingredient', ingredients: @product.ingredients) %> </p>
        </div>

        <div class="d-flex one-information">
          <h6><%= t('.category') %></h6><p><%= cl_image_tag @product.category.photo.key %> </p>
        </div>

        <div class="d-flex one-information">
          <h6><%= t('.label') %> </h6>
            <% @product.label.each do |label| %>
              <div class='label'><%= image_tag "labels/#{label}-label", class: "label" %></div>
            <%end%>
        </div>

        <div class="d-flex one-information">
          <h6><%= t('.price') %></h6><p> <%= @product.unit_price  %> </p>
        </div>

        <div class="d-flex one-information">
          <h6><%= t('.producer') %></h6><p> <%= @product.farm.user.name  %></p>
        </div>

        <div class="d-flex one-information">
          <h6><%= t('.exploitation') %></h6><p> <%= @product.farm.name  %> </p>
        </div>

      </div>
    </div>
  </div>

</div>
