<div class="">
  <div class="product">

    <div class="d-flex">

      <div class="photo">
        <h2><%= @product.name %> </h2>
        <%= cl_image_tag @product.photo.key, height: 370, width: 370, crop: :fill, style: "border-radius: 8px 8px 8px 8px" %>
      </div>

      <div class="informations">

        <div class = "d-flex">
          <%= link_to "-", "#", class: "btn btn-number"%>

          <div class="number">
            <p>0</p>
          </div>

          <%= link_to "+", "#", class: "btn btn-number" %>

        </div>

        <div class="d-flex">
          <h6>Description : </h6><p> <%= @product.description  %> </p>
        </div>

        <div class="d-flex">
          <h6>Ingrédients : </h6><p> <%= @product.ingredients  %> </p>
        </div>

        <div class="d-flex">
          <h6>Catégorie : </h6><p><%= cl_image_tag @product.category.photo.key %> </p>
        </div>

        <div class="d-flex">
          <h6>Label : </h6><p> <%if @product.label.include?("bio")%><div class='label'><%= image_tag 'labels/bio-label', class: "label" %></div><%end%> </p>
        </div>

        <div class="d-flex">
          <h6>Prix à l'unité :</h6><p> <%= @product.unit_price  %> </p>
        </div>

        <div class="d-flex">
          <h6>Producteur : </h6><p> <%= @product.farm.user.name  %></p>
        </div>

        <div class="d-flex">
          <h6>Exploitation : </h6><p> <%= @product.farm.name  %> </p>
        </div>

      </div>
    </div>
  </div>

</div>
