<!DOCTYPE html>
<html>
  <head>
    <title>RobinDesFermes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600&display=swap" rel="stylesheet">
    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="631036fb-6aaa-4ec7-868a-3be7d97c21a6";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
    <script>
      window.axeptioSettings = {
        clientId: "5fca4e9fde1c8731d1892986",
        cookiesVersion: "robin_des_fermes-base",
      };

      (function(d, s) {
        var t = d.getElementsByTagName(s)[0], e = d.createElement(s);
        e.async = true; e.src = "//static.axept.io/sdk.js";
        t.parentNode.insertBefore(e, t);
      })(document, "script");
    </script>
  </head>

  <body >
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>


    <%= yield %>
    <%= render 'shared/footer' %>

    <%= yield(:after_template) %>

  </body>
</html>
